<!-- <div id="pageContent" class="oj-flex oj-sm-flex-direction-column oj-sm-flex-wrap-nowrap vb-web-applayout-page fixed-header">

  <oj-vb-fragment id="shell-header" name="shell-header">
    <oj-vb-fragment-param name="avatarInfo" value="{{ $variables.avatarInfo }}"></oj-vb-fragment-param>
  </oj-vb-fragment>


  <oj-vb-content id="vbRouterContent" class="vb-pages-module oj-flex"
    config="[[vbRouterFlow]]">

    </oj-vb-content>
  <oj-messages id="vbDefaultNotifier" display-options.category="none" position="{}" display="general" messages="{{$page.variables.messagesADP}}" on-oj-close="[[$listeners.onMessageClose]]"></oj-messages>

 
  <div class="vb-content-and-footer-container oj-flex oj-sm-flex-direction-column oj-sm-flex-1 oj-sm-flex-wrap-nowrap">


    <oj-vb-fragment id="shell-footer" name="shell-footer">
    </oj-vb-fragment>
  </div>
</div> -->



<div id="pageContent" class="oj-flex oj-sm-flex-direction-column oj-sm-flex-wrap-nowrap vb-web-applayout-page fixed-header">
  <!-- Header: Includes branding and avatar -->
  <oj-vb-fragment id="shell-header" name="shell-header" bridge="BRI2">
    <oj-vb-fragment-param name="avatarInfo" value="{{ $variables.avatarInfo }}"></oj-vb-fragment-param>
  </oj-vb-fragment>

  <!-- Displays notification messages -->
  <oj-messages id="vbDefaultNotifier" display-options.category="none" position="{}" display="general" messages="{{$page.variables.messagesADP}}" on-oj-close="[[$listeners.onMessageClose]]"></oj-messages>

  <!-- Container to scroll content and the footer independent of header -->
  <div class="vb-content-and-footer-container oj-flex oj-sm-flex-direction-column oj-sm-flex-1 oj-sm-flex-wrap-nowrap">
    <!-- Renders flow content -->
    <oj-vb-content id="vbRouterContent" style="background:#fff" class="vb-pages-module oj-flex-item" config="[[vbRouterFlow]]">

    </oj-vb-content>

    <!-- Footer: Remove if not needed -->
    <oj-vb-fragment id="shell-footer" name="shell-footer" bridge="BRI">
    </oj-vb-fragment>
  </div>
</div>
