<!-- vb default-layout:flex -->
<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-sm-only-hide">
  <div class="oj-flex" style="background-color: #ffffff;">
    <!-- Company logo and application title only displayed in desktop mode -->
    <div class="oj-flex oj-flex-item oj-sm-12 oj-md-4" data-vb-layout-type="flex">
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-flex oj-sm-justify-content-center oj-sm-align-items-center"
      style="margin-top:7px; padding:7px;">
      <div class="oj-flex-item oj-sm-flex-initial">
        
      </div>
      <div class="oj-flex-item oj-sm-flex-initial">
        <button label="Button" style="border: none; background: #fff;cursor: pointer;"
          on-click="[[$listeners.buttonClick]]">
          <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" width="45"
            style="object-fit: contain;">
        </button>
      </div>
    </div>  
    
    <div style="padding-right:10px;" class="oj-flex oj-flex-item oj-sm-12 oj-md-4 oj-sm-align-items-center oj-sm-justify-content-flex-end">
      <div class="oj-flex-item oj-sm-flex-initial" style="font-size:12px;">
        <oj-bind-text value="Administrador"></oj-bind-text>
      </div>
      <div class="oj-flex-item oj-sm-flex-initial oj-sm-align-self-center">
        <oj-avatar class="oj-flex-item oj-sm-flex-initial" size="xxs" icon-class="oj-ux-ico-avatar"
          style="margin-left:10px;"></oj-avatar>
      </div>
    </div>
  </div>
</header>
<div class="oj-flex" data-vb-layout-type="flex">
</div>

