<!-- Mobile only header and page title -->
<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-md-hide">

  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <!-- Navigator toggle button will render only if we have a drawer -->
    <oj-bind-if test="[[ document.querySelector('oj-vb-fragment[name=\'shell-drawer\']') ]]">
      <div class="oj-flex-bar">
        <oj-button on-oj-action="[[$listeners.toggleDrawer]]" chroming="borderless"
                   display="icons">
          <span slot="startIcon" class="oj-ux-ico-menu"></span>
          <span><oj-bind-text value="[[$application.translations.app.app_title_navigation_drawer]]"></oj-bind-text></span>
        </oj-button>
      </div>
    </oj-bind-if>
    <!-- Page specific title and actions with overflow menu displayed -->
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
      <div class="vb-content-header oj-flex oj-sm-flex-items-initial oj-sm-align-items-center">
        <div class="oj-flex-item complete">
          <div class="oj-typography-body-lg oj-typography-semi-bold inline">

            <div> 
               <p class="p_sm">Facturas</p>
            </div>

            <div class="complete inline"> 
                <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" class="img_sm">
            </div>
          </div>
          <!-- Add Page specific actions etc -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page specific title and actions for desktop formfactor -->
<div class="vb-content-header oj-flex oj-sm-flex-1 oj-sm-only-hide oj-sm-align-items-center">
  <div role="image">
    <button class="button_return" on-click="[[$listeners.buttonClick]]"  >
      <img :src="[[ $flow.path + 'resources/images/back.png' ]]" style="width:22px;margin: 0px -10px -6px -9px;">
    </button>
  </div>
  <div class="oj-flex-item">
    <div class="oj-typography-body-lg oj-typography-semi-bold">
      <oj-highlight-text text="Facturación" style="font-size:25px;padding-left:10px;"></oj-highlight-text>
    </div>

  </div>

</div>
<div class="oj-flex">
  <oj-input-search class="oj-flex-item oj-sm-12 oj-md-6" value="{{ $variables.search_invioce }}" aria-label="a"></oj-input-search>
  <div class="oj-flex-item oj-sm-12 oj-md-1"></div>
  <oj-input-date label-hint="Date" class="oj-flex-item oj-sm-12 oj-md-5" value="{{ $variables.search_invioce }}"></oj-input-date>
</div>
<div class="oj-flex">
  <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
    data="[[$variables.billingsFacturarListSDP]]"
    columns='[  {    "headerText": "billToCustomerName",    "field": "billToCustomerName"  },  {    "headerText": "createdByInvoice",    "field": "createdByInvoice"  },  {    "headerText": "creationDateInvoice",    "field": "creationDateInvoice"  },  {    "headerText":"Transaction number",    "field": "customerTransactionId"  },  {    "headerText": "enteredAmount",    "field": "enteredAmount"  },  {    "headerText": "LastUpdateDate",    "field": "LastUpdateDate"  },  {    "headerText": "timbradoInterfaceEstatus",    "field": "timbradoInterfaceEstatus"  },  {    "headerText": "transactionDate",    "field": "transactionDate"  }]'
    selection-mode.row="multiple"></oj-table>
</div>
<div class="oj-flex">
  <div class="oj-divider-top oj-flex-item oj-sm-12 oj-md-12"></div>
</div>


  <div class="oj-flex"  style=" margin-top: 9px;">
      <div class="oj-flex-item oj-sm-flex-initial">
        <oj-label-value label-edge="start"  colspan="0">
          <oj-label slot="label" for="k" class="oj-flex-item  " dir="rtl"
            style="color:#2E2974; font-size:17px;">Búsqueda</oj-label>
          <oj-input-text slot="value" id="k" class="oj-form-control-text-align-start oj-form-control-max-width-sm"
            placeholder="ESGARI 2021" value="{{ $variables.BUSQUEDAPRUEBA }}"  ></oj-input-text>
        </oj-label-value>
      </div>
      <div style="display:flex;margin-left: auto;align-items:center;" class="oj-flex-item oj-sm-flex-initial">
        <p style="margin-top: auto;margin-bottom: auto;margin-right: 6px;">Filtrar por</p>
        <oj-collapsible class="oj-flex-item oj-sm-flex-initial" style=" margin-left: auto;">
          <div style="    position: absolute;z-index: 1;right: 2%; width: 202px; padding: 4px;">
            <oj-buttonset-one style="display: grid;border: 1px solid #767676; border-radius: 10px;background: white;"
              on-value-changed="[[$listeners.buttonsetValue]]" >
          <oj-option value="wal">wal</oj-option>
          <oj-option value="option2">samn</oj-option>
       
              
            </oj-buttonset-one> 
          
          </div>
        </oj-collapsible>
      </div>
      <div class="oj-flex-item oj-sm-flex-initial search">
        <!-- <oj-button label="Button"></oj-button> -->
        <button class="buton-search">
          <div class="oj-flex-item oj-sm-12 oj-md-2" style="margin: 0px 0px -2px -3px;">
            <img :src="[[ $flow.path + 'resources/images/lupa.png' ]]" width="26">
          </div>
        </button>
      </div>

      

  </div>


<div class="oj-flex">

  <div class="oj-divider-top oj-flex-item oj-sm-12"></div>
</div>

<div class="oj-flex">
  <div class="oj-flex-item oj-sm-12 oj-md-5"></div>
  <div class="oj-flex-item oj-sm-12 oj-md-6"></div>
</div>

  <oj-bind-if test="[[ $variables.getInvoicesOracle.billCostumerName ]]">

    <div class="card">
      <p class="subtitle_bill">Factura 224</p>
      <p class="subtitle">Información general </p>
      <div class="card_info">
        <div class="sub_container">
           
          <div style="display:felx;">
            <p> <b>Numero de transacción: </b>  <oj-label style="display: contents;"><oj-bind-text value="[[ $variables.getInvoicesOracle.billCostumerName ]]"></oj-bind-text></oj-label>  </p>
          </div>
            
            <p> <b>Fecha de transacción: </b> 9/10/21</p>
            <p> <b>Nombre de facturación:</b> NUEVA WALT MART DE MÉXICO</p>
        </div>
        <div class="sub_container">
          <p> <b>RFC:</b> JCM97013156Q  </p>
          <p> <b>ESTADO:</b> Completada </p>
          <p> <b>ANEXOS:</b> Ninguno </p>
        </div>
      </div>
    </div>
  </oj-bind-if>






<div class="oj-flex">
  <oj-dynamic-table class="oj-flex-item oj-sm-12 oj-md-12" data="[[$variables.invoicingOracleListSDP2]]"
    metadata="[[ $metadata.businessObjectsGetallInvoicingOracleMetadata.provider ]]" layout="invoicingOracle"
    selection-mode.row="single" on-first-selected-row-changed="[[$listeners.tableFirstSelectedRow2]]">
  </oj-dynamic-table>
</div>
<div class="oj-flex">
  <div class="oj-flex-item oj-sm-12 oj-md-2">
    <oj-button label="Button" on-oj-action="[[$listeners.buttonAction2]]"></oj-button>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-2"></div>
  <div class="oj-flex-item oj-sm-12 oj-md-2">
    <oj-button label="Array" on-oj-action="[[$listeners.buttonAction3]]"></oj-button>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-1"></div>
  <oj-label class="oj-flex-item oj-sm-12 oj-md-3"><oj-bind-text value="[[ $variables.ArraysIdsFE ]]"></oj-bind-text></oj-label>
</div>
<div class="oj-flex">
  <h1 class="oj-flex-item oj-sm-12 oj-md-12">Pagination</h1>
</div>
<div class="oj-flex">
  <oj-input-text label-hint="Text" class="oj-flex-item oj-sm-12 oj-md-6" value="{{ $variables.SearchPagination }}"></oj-input-text>
  <div class="oj-flex-item oj-sm-12 oj-md-1"></div>
  <div class="oj-flex-item oj-sm-12 oj-md-2">
    <oj-button label="Button" on-oj-action="[[$listeners.buttonAction4]]"></oj-button>
  </div>
</div>
<div class="oj-flex">
  <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
    data="[[ $variables.DataSinglePagination ]]"
    columns='[{"headerText":"\"Costumer Transac ID\"","field":"costumerTransacID"},{"headerText":"Bill Costumer","field":"billCostumer"},{"headerText":"Due Date","field":"dueDate"},{"headerText":"Invoice Status","field":"invoiceStatus"},{"headerText":"Entered Amount","field":"enteredAmount"},{"headerText":"Created","field":"created"}]'
    selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected]]">
    <oj-paging-control data="[[ $variables.DataSinglePagination ]]" slot="bottom">
  </oj-paging-control>  
    
  </oj-table>
</div>
<div class="oj-flex">
  <h1 class="oj-flex-item oj-sm-12 oj-md-8">Prueba </h1>
  <div class="oj-flex-item oj-sm-12 oj-md-1">
    <oj-button label="Next" on-oj-action="[[$listeners.buttonAction]]" class="oj-button-full-width"></oj-button>
  </div>
</div>
<div class="oj-flex">
  <oj-toolbar id="oj-toolbar-for-oj-table-955044093-1" chroming="solid" class="oj-flex-item oj-sm-12 oj-md-12">
    <oj-table scroll-policy="loadMoreOnScroll" data="[[$variables.memosListSDP2]]"
      columns='[{"headerText":"Id","field":"id"},{"headerText":"BillToCustomerName","field":"billToCustomerName"},{"headerText":"creationDateCredit","field":"creationDateCredit"}]'
      selection-mode.row="multiple" id="oj-table-955044093-1"
      on-first-selected-row-changed="[[ $listeners.oj_table_955044093_1SelectionChanged ]]"></oj-table>
    <oj-button disabled="[[ $variables.oj_table_955044093_1SelectedId === '' ]]"
      on-oj-action="[[$listeners.deleteMemosButtonClicked2]]">Delete Memos</oj-button>
  </oj-toolbar>
</div>


<!-- <div class="oj-flex">
  <div class="oj-flex-item oj-sm-12 oj-md-8"></div>
  
    
  <oj-button label="Button" on-oj-action="[[$listeners.buttonAction]]"
    class="oj-button-lg oj-flex-item oj-sm-flex-initial"></oj-button>
  
</div> -->





