<!-- Mobile only header and page title -->
<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-md-hide">
  <div role="image" class="vb-web-applayout-header-image-stripe"></div>
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <!-- Navigator toggle button will render only if we have a drawer -->
    <oj-bind-if test="[[ document.querySelector('oj-vb-fragment[name=\'shell-drawer\']') ]]">
      <div class="oj-flex-bar">
        <oj-button on-oj-action="[[$listeners.toggleDrawer]]" chroming="borderless"
                   display="icons">
          <span slot="startIcon" class="oj-ux-ico-menu"></span>
          <span><oj-bind-text value="[[$application.translations.app.app_title_navigation_drawer]]"></oj-bind-text></span>
        </oj-button>
      </div>
    </oj-bind-if>
    <!-- Page specific title and actions with overflow menu displayed -->
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
      <div class="vb-content-header oj-flex oj-sm-flex-items-initial oj-sm-align-items-center">
        <div class="oj-flex-item complete">
          <div class="oj-typography-body-lg oj-typography-semi-bold inline">

            <div> 
               <p class="p_sm">Facturas</p>
            </div>

            <div class="complete inline"> 
                <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" class="img_sm">
            </div>
          </div>
          <!-- Add Page specific actions etc -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page specific title and actions for desktop formfactor -->
<div class="vb-content-header oj-flex oj-sm-flex-1 oj-sm-only-hide oj-sm-align-items-center">
  <div role="image">
    <button class="button_return" on-click="[[$listeners.buttonClick2]]" >
      <img :src="[[ $flow.path + 'resources/images/back.png' ]]" style="width:22px;margin: 0px -10px -6px -9px;">
    </button>
  </div>
  <div class="oj-flex-item">
    <div class="oj-typography-body-lg oj-typography-semi-bold">
      <oj-highlight-text text="Facturación" style="font-size:25px;    padding-left: 10px;"></oj-highlight-text>
    </div>

  </div>

</div>



<div class="oj-flex">

  <div class="oj-divider-top oj-flex-item oj-sm-12"></div>
</div>
<div class="oj-flex">
  <div class="oj-flex-item oj-sm-12 oj-md-12">

    <div class="card">
      <p class="subtitle_bill"><oj-bind-text value="[[ $variables.Prueba ]]"></oj-bind-text></p>

      <p on-click="[[$listeners.paragraphClick]]"> <b>Numero de transacción: </b>  <oj-label style="display: contents;"><oj-bind-text></oj-bind-text></oj-label>  </p>

      <p class="subtitle">Información general </p>
      <div class="card_info">
        <div class="sub_container">
          <div style="display:felx;">
            <p> <b>Numero de transacción: </b> 224</p>
          </div>
            
            <p> <b>Fecha de transacción: </b> 9/10/21</p>
            <p> <b>Nombre de facturación:</b> NUEVA WALT MART DE MÉXICO</p>
        </div>
        <div class="sub_container">
          <p> <b>RFC:</b> JCM97013156Q  </p>
          <p> <b>ESTADO:</b> Completada </p>
          <p> <b>ANEXOS:</b> Ninguno </p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="oj-flex">
  <oj-tab-bar edge="top" id="oj-tab-bar-1586347588-1" selection="{{$variables.ojTabBar15863475881SelectedItem}}"
    class="oj-flex-item oj-sm-12 oj-md-8">
    <ul>
      <li id="oj-tab-bar-1586347588-1-tab-1">
        <a href="#" id="oj-tab-bar-1586347588-1-tab-1-tab" aria-controls="oj-tab-bar-1586347588-1-tab-1-panel">Detalles de factura</a>
      </li>
      <li id="oj-tab-bar-1586347588-1-tab-2">
        <a href="#" id="oj-tab-bar-1586347588-1-tab-2-tab" aria-controls="oj-tab-bar-1586347588-1-tab-2-panel">Creditos de venta</a>
      </li>
    </ul>
  </oj-tab-bar>
</div>
<div class="oj-flex">
  <oj-switcher value="[[$variables.ojTabBar15863475881SelectedItem]]" id="oj-switcher-1586347588-1"
    class="oj-flex-item oj-sm-12 oj-md-12">
    <div slot="oj-tab-bar-1586347588-1-tab-1" id="oj-tab-bar-1586347588-1-tab-1-panel"
      aria-labelledby="oj-tab-bar-1586347588-1-tab-1-tab" role="tabpanel">
      <div class="oj-flex">
        <oj-table style="background:#fff;" scroll-policy="loadMoreOnScroll"
          columns='[{"headerText":"Línea","field":"lNea"},{"headerText":"Articulo","field":"articulo"},{"headerText":"Descripcion","field":"descripcion"},{"headerText":"Linea Nota","field":"lineaNota"},{"headerText":"Unidad Medida","field":"unidadMedida"},{"headerText":"Cantidad","field":"cantidad"},{"headerText":"Precio Unitario","field":"precioUnitario"},{"headerText":"Importe","field":"importe"}]'
          data="[[$variables.billDetailListSDP]]" class="oj-flex-item oj-sm-12 oj-md-12"
   >
          <template slot="customTemplate">
            <oj-checkboxset>
              <oj-option value="option1">img</oj-option>
            </oj-checkboxset>
          </template>
        </oj-table>
      </div>
    </div>
    <div slot="oj-tab-bar-1586347588-1-tab-2" id="oj-tab-bar-1586347588-1-tab-2-panel"
      aria-labelledby="oj-tab-bar-1586347588-1-tab-2-tab" role="tabpanel">
  

      <div class="oj-flex">
        <oj-table scroll-policy="loadMoreOnScroll"
          columns='[{"headerText":"Línea","field":"lNea"},{"headerText":"Unidad Medida","field":"unidadMedida"},{"headerText":"Cantidad","field":"cantidad"},{"headerText":"Precio Unitario","field":"precioUnitario"},{"headerText":"Importe","field":"importe"}]'
          data="[[$variables.billDetailListSDP]]" class="oj-flex-item oj-sm-12 oj-md-12" >
          <template slot="customTemplate">
            <oj-checkboxset>
              <oj-option value="option1">img</oj-option>
            </oj-checkboxset>
          </template>
        </oj-table>
      </div>
    </div>
  </oj-switcher>
</div>





