<!-- Mobile only header and page title -->
<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-md-hide">
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <!-- Navigator toggle button will render only if we have a drawer -->
    <oj-bind-if test="[[ document.querySelector('oj-vb-fragment[name=\'shell-drawer\']') ]]">
      <div class="oj-flex-bar">
        <oj-button on-oj-action="[[$listeners.toggleDrawer]]" chroming="borderless"
                   display="icons">
          <span slot="startIcon" class="oj-ux-ico-menu"></span>
          <span><oj-bind-text value="[[$application.translations.app.app_title_navigation_drawer]]"></oj-bind-text></span>
        </oj-button>
      </div>
    </oj-bind-if>
    <!-- Page specific title and actions with overflow menu displayed -->
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
      <div class="vb-content-header oj-flex oj-sm-flex-items-initial oj-sm-align-items-center">
        <div class="oj-flex-item">
          <div class="oj-typography-body-lg oj-typography-semi-bold">
            <oj-bind-text value="Cancelación de facturas"></oj-bind-text>
          </div>
          <!-- Add Page specific actions etc -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page specific title and actions for desktop formfactor -->
<div class="vb-content-header oj-flex oj-sm-flex-1 oj-sm-only-hide oj-sm-align-items-center">
  <div role="image">
    <button class="button_return" on-click="[[$listeners.buttonClick3]]" >
      <img :src="[[ $flow.path + 'resources/images/back.png' ]]" style="width:22px;margin: 0px -10px -6px -9px;">
      
    </button>
  </div>
  <div class="oj-flex-item">
    <div class="oj-typography-body-lg oj-typography-semi-bold">
      <oj-highlight-text text="Cancelación" style="font-size:25px;padding-left:10px;"></oj-highlight-text>
    </div>

  </div>

</div>

<div class="card_info"  >

  <div style="height:118px;" class="oj-flex-item oj-sm-6 oj-md-6 card_otm">
    <button  label="ORACLE" class="oj-button-full-width option_button_l" on-click="[[$listeners.buttonClick2]]">
      <div style="display:flex;">
        <div style=" width: 32%;height:13px;margin-top: auto;margin-bottom:auto;font-size: 15px; margin-left: 0px; margin-right: 15px;">
          <p >CLOUD</p>
        </div>
        <div style="margin-left: auto;margin-right: auto;">
          <img :src="[[ $flow.path + 'resources/images/oracle-cloud-removebg-preview.png' ]]" width="99"
            style="object-fit: fill;  width: 61px;height: 61px;" height="99">

      </div>
    </button>
  </div>

  <div style="height:118px;" class="oj-flex-item oj-sm-6 oj-md-6 card_otm">
    <button  label="ORACLE" class="oj-button-full-width option_button_r">
      <div style="display:flex;">
        <div style=" width: 32%;height:13px;margin-top: auto;margin-bottom:auto;font-size: 15px; margin-left: 0px; margin-right: 15px;">
          <p >OTM</p>
        </div>
        <div style="margin-left: auto;margin-right: auto;margin-top: auto;margin-bottom: auto;">
          <img :src="[[ $flow.path + 'resources/images/otm_oracle_1.png' ]]" width="99" style="object-fit: fill;  width: 61px;height: 61px;"
        height="99">


      </div>
    </button>
  </div>

</div>


<div class="oj-flex">
  <div class="oj-divider-top oj-flex-item oj-sm-12" style="  margin-top: 70px;"></div>
</div>






