<!-- Mobile only header and page title -->
<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-md-hide">
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <!-- Navigator toggle button will render only if we have a drawer -->
    <oj-bind-if test="[[ document.querySelector('oj-vb-fragment[name=\'shell-drawer\']') ]]">
      <div class="oj-flex-bar">
        <oj-button on-oj-action="[[$listeners.toggleDrawer]]" chroming="borderless"
                   display="icons">
          <span slot="startIcon" class="oj-ux-ico-menu"></span>
          <span><oj-bind-text value="[[$application.translations.app.app_title_navigation_drawer]]"></oj-bind-text></span>
        </oj-button>
      </div>
    </oj-bind-if>
    <!-- Page specific title and actions with overflow menu displayed -->
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
      <div class="vb-content-header oj-flex oj-sm-flex-items-initial oj-sm-align-items-center">
        <div class="oj-flex-item complete">
          <div class="oj-typography-body-lg oj-typography-semi-bold inline">

            <div> 
               <p class="p_sm">Cancelación</p>
            </div>
            <oj-dialog id="loader_init" title="Espere un momento..." style="border-radius: 25px; width: 319px;font-weight: 500;top: 879.6px;"
              cancel-behavior="none" resize-behavior="none" class="">
              <div slot="body" style="overflow:hidden">
                <div style="text-align:-webkit-center">
                  <div id="load2" class="loader_init"></div>
                  <div class="oj-flex">
                    <h3 id="hola" class="oj-flex-item oj-sm-12 oj-md-12" style="font-weight: 500;">Cargando...</h3>
                  </div>
                </div>
              </div>
            </oj-dialog>
            <div class="complete inline"> 
                <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" class="img_sm">
            </div>
          </div>
          <!-- Add Page specific actions etc -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page specific title and actions for desktop formfactor -->
<div class="vb-content-header oj-flex oj-sm-flex-1 oj-sm-only-hide oj-sm-align-items-center">
  <div role="image">
    <button class="button_return" on-click="[[$listeners.buttonClick]]"  >
      <img :src="[[ $flow.path + 'resources/images/back.png' ]]" style="width:22px;margin: 0px -10px -6px -9px;">
    </button>
  </div>
  <div class="oj-flex-item">
    <div class="oj-typography-body-lg oj-typography-semi-bold">
      <oj-highlight-text text="Cancelación CLOUD" style="font-size:25px;padding-left:10px;"></oj-highlight-text>
    </div>

  </div>

</div>

<div style="display: flex;" >

</div>
<div class="oj-flex" style="margin-bottom: 20px;">
  <oj-tab-bar edge="top" id="oj-tab-bar--1176076419-1" selection="{{$variables.ojTabBar11760764191SelectedItem}}"
    class="oj-flex-item oj-sm-12 oj-md-10">
    <ul>
      <li id="oj-tab-bar--1176076419-1-tab-2">
        <a href="#" id="oj-tab-bar--1176076419-1-tab-2-tab" aria-controls="oj-tab-bar--1176076419-1-tab-2-panel">Facturas</a>
      </li>
      <li id="oj-tab-bar--1176076419-1-tab-3">
        <a href="#" id="oj-tab-bar--1176076419-1-tab-3-tab" aria-controls="oj-tab-bar--1176076419-1-tab-3-panel">Complementos de pago</a>
      </li>
      <li id="oj-tab-bar--1176076419-1-tab-4">
        <a href="#" id="oj-tab-bar--1176076419-1-tab-4-tab" aria-controls="oj-tab-bar--1176076419-1-tab-4-panel">Notas de crédito</a>
      </li>
    </ul>
  </oj-tab-bar>
</div>

<div class="oj-flex">
  <oj-switcher value="[[$variables.ojTabBar11760764191SelectedItem]]" id="oj-switcher--1176076419-1"
    class="oj-flex-item oj-sm-12 oj-md-12">

    <div id="oj-tab-bar--1176076419-1-tab-4-panel" slot="oj-tab-bar--1176076419-1-tab-4"
      aria-labelledby="oj-tab-bar--1176076419-1-tab-4-tab" role="tabpanel">

      <div class="oj-flex">
        <oj-label class="oj-flex-item oj-sm-12 oj-md-3" style="margin:25px;">
          *Refrescar la página si los cambios no se ven reflejados
        </oj-label>
      </div>

      <div class="oj-flex">
           <oj-combobox-one style="margin-right: 10px;" label-hint="Estatus" on-value-changed="[[$listeners.comboValue]]"
             class="oj-flex-item oj-sm-12 oj-md-2">
                <oj-option value="200">200 - EXITOSO</oj-option>
                <oj-option value="500">500 - ERROR</oj-option>
                <oj-option value=" ">PENDIENTE</oj-option>
                <oj-option value="todos">TODOS</oj-option>
           </oj-combobox-one>
           <!-- <oj-input-search aria-label="My search field" value="{{ $variables.SearchCustomerQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-search> -->
           <oj-input-text style="margin-right: 10px;" label-hint="Cliente" class="oj-flex-item oj-sm-12 oj-md-2"
             value="{{ $variables.SearchCustomerMemosQ }}">
           </oj-input-text>

            
           <oj-input-date style="margin-right: 10px;" label-hint="De" value="{{ $variables.SearchDateInfMemosQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2">
            </oj-input-date>
           <oj-input-date style="margin-right: 10px;" label-hint="Hasta" value="{{ $variables.SearchDateSupMemosQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-date>
          <oj-input-text label-hint="Número de transacción" class="oj-flex-item oj-sm-12 oj-md-2"
            value="{{ $variables.SearchTransactionMemosQ }}"></oj-input-text>

          
           <div class="oj-flex-item oj-sm-12 oj-md-1">
                <oj-button style="margin-left: 10px;width:100%" label="Buscar"
                   class="oj-button-lg" chroming="outlined" dir="auto" on-oj-action="[[$listeners.buttonAction6]]" ></oj-button>
           </div>
   
      </div>


      <div class="oj-flex">
        <oj-bind-if test="[[ $variables.SelectButtonMemos != true]]">
        <div class="oj-flex-item oj-sm-12 oj-md-2">
          <oj-button class="buttom_action"  on-oj-action="[[$listeners.buttonAction5]]">
              <p class="buttom_label">Cancelar Nota de crédito</p>
          </oj-button>
        </div>
        </oj-bind-if>
      </div>
      <div class="oj-flex">
           <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
             data="[[ $variables.MemosCancelacionSDP ]]"
             columns='[  {    "headerText": "Estatus",    "field": "creationDateCredit",    "template": "Estatus"  },  {    "headerText": "Número de transacción",    "field": "createdByCredit"  },  {    "headerText": "Razón social",    "field": "billToCustomerName"  },  {    "headerText": "Fecha de transacción",    "field": "transactionDate"  },  {    "headerText": "Cantidad ingresada",    "field": "enteredAmount"  },  {    "headerText": "Id",    "field": "id",    "template": "Id"  },  {    "headerText": "Transacción Id",    "field": "customerTransactionId"  }]'
             selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected4]]">
                <template slot="Estatus">
                  <span class="oj-badge"
                    :style='[[ $current.row.creationDateCredit == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $current.row.creationDateCredit == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
            
                    
                    <oj-bind-if
                      test="[[ $current.row.creationDateCredit!='200 - TIMBRADO EXITOSO' &&  $current.row.creationDateCredit!='500 - ERROR DE TIMBRADO']]">
                              <oj-bind-text value="PENDIENTE"></oj-bind-text>
                    </oj-bind-if>
                    <oj-bind-if test="[[ $current.row.creationDateCredit=='500 - ERROR DE TIMBRADO']]">
                              <oj-bind-text value="500 ERROR"></oj-bind-text>  
                            
                    </oj-bind-if>
                    <oj-bind-if test="[[ $current.row.creationDateCredit=='200 - TIMBRADO EXITOSO']]">
                              <oj-bind-text value="200 EXITOSO"></oj-bind-text>
                  
                            
                    </oj-bind-if>
                  </span>
                </template>
                <template slot="Id">
                  <oj-label>
                    <oj-bind-text value="[[$current.data]]"></oj-bind-text>
                  </oj-label>
                </template>
           </oj-table>
      </div>
      <div class="oj-flex">
        <!-- <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
          data="[[ $variables.myPDPMemos ]]"
          columns='[  {    "headerText": "Estatus",    "field": "timbradoInterfaceEstatus",    "template": "Estatus"  },  {    "headerText": "Transaction Id",    "field": "customerTransactionId"  },  {    "headerText": "Bill to customer",    "field": "billToCustomerName"  },  {    "headerText": "Created by",    "field": "createdByCredit"  },  {    "headerText": "Id",    "field": "id"  },  {    "headerText": "Transaction date",    "field": "transactionDate"  },  {    "headerText": "Creation date",    "field": "creationDateCredit"  },  {    "headerText": "Entered amount",    "field": "enteredAmount"  }]'
          on-selected-changed="[[$listeners.tableSelected2]]" selection-mode.row="multiple">
         <oj-paging-control data="[[ $variables.myPDPMemos]]" page-size="10" slot="bottom"></oj-paging-control>
         <template slot="Estatus">
            <span class="oj-badge"
                :style='[[ $current.row.interfaceEstatus == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $current.row.interfaceEstatus == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
              
                            <oj-bind-if
                              test="[[ $current.row.interfaceEstatus!='200 - TIMBRADO EXITOSO' &&  $current.row.interfaceEstatus!='500 - ERROR DE TIMBRADO']]">
              <oj-bind-text value="PENDIENTE"></oj-bind-text>
              </oj-bind-if>

                <oj-bind-if test="[[ $current.row.interfaceEstatus=='500 - ERROR DE TIMBRADO']]">
                  <oj-bind-text value="500 ERROR"></oj-bind-text>
        
                </oj-bind-if>
                <oj-bind-if test="[[ $current.row.interfaceEstatus=='200 - TIMBRADO EXITOSO']]">
                  <oj-bind-text value="200 EXITOSO"></oj-bind-text>
    
                </oj-bind-if>

              </span>
         </template>
        </oj-table> -->
      </div>
    </div>



<div slot="oj-tab-bar--1176076419-1-tab-3" id="oj-tab-bar--1176076419-1-tab-3-panel"
      role="tabpanel">
    <div class="oj-flex">
       <div class="oj-flex-item oj-sm-12 oj-md-4">
         <oj-bind-if test="[[$variables.longitud_row]]">
              <h1 class="oj-header">Heading</h1>

         </oj-bind-if>
       </div>
    </div>

      <div class="oj-flex">
        <oj-label class="oj-flex-item oj-sm-12 oj-md-3" style="margin:25px;">
          *Refrescar la página si los cambios no se ven reflejados
        </oj-label>
      </div>

    <div class="oj-flex">
           <oj-combobox-one style="margin-right: 10px;" label-hint="Estatus" 
             class="oj-flex-item oj-sm-12 oj-md-2" on-value-changed="[[$listeners.comboValue3]]">
                <oj-option value="200">200 - EXITOSO</oj-option>
                <oj-option value="500">500 - ERROR</oj-option>
                <oj-option value=" ">PENDIENTE</oj-option>
                <oj-option value="todos">TODOS</oj-option>
           </oj-combobox-one>
           <!-- <oj-input-search aria-label="My search field" value="{{ $variables.SearchCustomerQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-search> -->
           <oj-input-text style="margin-right: 10px;" label-hint="Cliente" class="oj-flex-item oj-sm-12 oj-md-2"
             value="{{ $variables.SearchCustomerSCQ }}">
           </oj-input-text>

            
           <oj-input-date style="margin-right: 10px;" label-hint="De" value="{{ $variables.SearchDateInfSCQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2">
            </oj-input-date>
           <oj-input-date style="margin-right: 10px;" label-hint="Hasta" value="{{ $variables.SearchDateSupSCQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-date>
          <oj-input-text label-hint="Número de transacción" class="oj-flex-item oj-sm-12 oj-md-2"
            value="{{ $variables.SearchTranscSCQ }}"></oj-input-text>

          
           <div class="oj-flex-item oj-sm-12 oj-md-1">
                <oj-button style="margin-left: 10px;width:100%" label="Buscar"
                   class="oj-button-lg" chroming="outlined" dir="auto" on-oj-action="[[$listeners.buttonAction8]]" ></oj-button>
           </div>
   
      </div>
    <oj-bind-if test="[[ $variables.buttonSelectReceip != true]]">
     <div class="oj-flex">
        <div class="oj-flex-item oj-sm-12 oj-md-2">
            <oj-button class="buttom_action" on-oj-action="[[$listeners.buttonAction4]]">
              <p class="buttom_label">Cancelar Complemento</p>
            </oj-button>
        </div>
      </div>
     </oj-bind-if>
    <div class="oj-flex">
           <oj-table scroll-policy="loadMoreOnScroll" data="[[ $variables.Standard_SDP ]]"
             columns='[  {    "headerText": "Estatus",    "field": "interfaceEstatus",    "template": "Estatus"  },  {    "headerText": "Receipt number",    "field": "standardReceiptId"  },  {    "headerText": "Receipt Id",    "field": "createdByReceiptId"  },  {    "headerText": "Accounting date",    "field": "accountingDate"  },  {    "headerText": "Customer name",    "field": "customerName"  },  {    "headerText": "Accounted amount",    "field": "accountedAmount",    "template": "Accounted amount"  },  {    "headerText": "id",    "field": "id"  },  {    "headerText": "Creation date",    "field": "creationDateReceiptId"  }]'
             selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected5]]"
             class="oj-flex-item oj-sm-12 oj-md-12">
                <template slot="Estatus">
                  <span class="oj-badge"
                    :style='[[ $current.row.interfaceEstatus == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $current.row.interfaceEstatus == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
            
                    
              <oj-bind-if
                test="[[ $current.row.interfaceEstatus!='200 - TIMBRADO EXITOSO' &&  $current.row.interfaceEstatus!='500 - ERROR DE TIMBRADO']]">
                        <oj-bind-text value="PENDIENTE"></oj-bind-text>
              </oj-bind-if>
              <oj-bind-if test="[[ $current.row.interfaceEstatus=='500 - ERROR DE TIMBRADO']]">
                        <oj-bind-text value="500 ERROR"></oj-bind-text>  
                      
              </oj-bind-if>
              <oj-bind-if test="[[ $current.row.interfaceEstatus=='200 - TIMBRADO EXITOSO']]">
                        <oj-bind-text value="200 EXITOSO"></oj-bind-text>
            
                      
              </oj-bind-if>
                  </span>
                </template>
                <template slot="Accounted amount">
                  <oj-label style="font-family: system-ui;font-weight: 400;font-size: 16px; padding-left: 18px;">
              <oj-highlight-text text="[['$'+$current.data]]"></oj-highlight-text>
                  </oj-label>
                </template>
           </oj-table>
    </div>



      <!-- <div class="oj-flex">
        <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
          data="[[ $variables.myPDPReceipts ]]"
          columns='[  {    "headerText": "Estatus",    "field": "interfaceEstatus",    "template": "Estatus"  },  {    "headerText": "Receipt Id",    "field": "standardReceiptId"  },  {    "headerText": "Accounted Amount",    "field": "accountedAmount"  },  {    "headerText": "Accounting Date",    "field": "accountingDate"  },  {    "headerText": "Creation Date",    "field": "creationDateReceiptId"  },  {    "headerText": "Customer Name",    "field": "customerName"  },  {    "headerText": "Created By",    "field": "createdByReceiptId"  },  {    "headerText": "id",    "field": "id"  }]'
          selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected]]">
         <oj-paging-control data="[[ $variables.myPDPReceipts ]]" page-size="10" slot="bottom"></oj-paging-control>
         <template slot="Estatus">
              <span class="oj-badge"
                :style='[[ $current.row.interfaceEstatus == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $current.row.interfaceEstatus == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
              
                            <oj-bind-if
                              test="[[ $current.row.interfaceEstatus!='200 - TIMBRADO EXITOSO' &&  $current.row.interfaceEstatus!='500 - ERROR DE TIMBRADO']]">
              <oj-bind-text value="PENDIENTE"></oj-bind-text>
              </oj-bind-if>

                <oj-bind-if test="[[ $current.row.interfaceEstatus=='500 - ERROR DE TIMBRADO']]">
                  <oj-bind-text value="500 ERROR"></oj-bind-text>
        
                </oj-bind-if>
                <oj-bind-if test="[[ $current.row.interfaceEstatus=='200 - TIMBRADO EXITOSO']]">
                  <oj-bind-text value="200 EXITOSO"></oj-bind-text>
    
                </oj-bind-if>

              </span>
         </template>
        </oj-table>
      </div> -->

      
 </div>




    



    <div slot="oj-tab-bar--1176076419-1-tab-2" id="oj-tab-bar--1176076419-1-tab-2-panel"
      aria-labelledby="oj-tab-bar--1176076419-1-tab-2-tab" role="tabpanel">

      
 <!-- <oj-bind-if test="[[ $variables.PostBillingCancel.customerTransactionId ]]">
      <div class="oj-flex">
        <div class="oj-flex-item oj-sm-12 oj-md-12">       
          <div class="card">
            <p class="subtitle_bill">Factura 224</p>
            <p class="subtitle">Información general </p>
            <div class="card_info">
              <div class="sub_container">
                <div style="display:felx;">
                  <p> <b>Numero de transacción: </b> <oj-bind-text value="[[ $variables.get_cancelacion.billCostumerName ]]"></oj-bind-text></p>
                </div>
                  <p> <b>Fecha de transacción: </b>  <oj-bind-text value="[[ $variables.get_cancelacion.custumerTransactionID ]]"></oj-bind-text></p>
                  <p> <b>Nombre de facturación:</b> <oj-bind-text value="[[ $variables.get_cancelacion.dueDate ]]"></oj-bind-text></p>
              </div>
              <div class="sub_container">
                <p> <b>RFC:</b>  <oj-bind-text value="[[ $variables.get_cancelacion.enteredAmount ]]"></oj-bind-text> </p>
                <p> <b>ESTADO:</b>  <oj-bind-text value="[[ $variables.get_cancelacion.invoiceStatus ]]"></oj-bind-text> </p>
                <p> <b>ANEXOS:</b>  <oj-bind-text value="[[ $variables.get_cancelacion.transactionNumber ]]"></oj-bind-text> </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="    margin: 28px 0px 0px 0px;">
        <p><oj-bind-text value="[[ $variables.GetID ]]"></oj-bind-text></p>
      
      </div>

      </oj-bind-if> -->

      <div class="oj-flex">
        <oj-label class="oj-flex-item oj-sm-12 oj-md-3" style="margin:25px;">
          *Refrescar la página si los cambios no se ven reflejados
        </oj-label>
      </div>
      
      <div class="oj-flex">
           <oj-combobox-one style="margin-right: 10px;" label-hint="Estatus" 
             class="oj-flex-item oj-sm-12 oj-md-2" on-value-changed="[[$listeners.comboValue2]]">
                <oj-option value="200">200 - EXITOSO</oj-option>
                <oj-option value="500">500 - ERROR</oj-option>
                <oj-option value=" ">PENDIENTE</oj-option>
                <oj-option value="todos">TODOS</oj-option>
           </oj-combobox-one>
           <!-- <oj-input-search aria-label="My search field" value="{{ $variables.SearchCustomerQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-search> -->
           <oj-input-text style="margin-right: 10px;" label-hint="Cliente" class="oj-flex-item oj-sm-12 oj-md-2"
             value="{{ $variables.SearchCustoFCQ }}">
           </oj-input-text>

            
           <oj-input-date style="margin-right: 10px;" label-hint="De" 
             class="oj-flex-item oj-sm-12 oj-md-2" value="{{ $variables.SearchDateInfCFQ }}">
            </oj-input-date>
           <oj-input-date style="margin-right: 10px;" label-hint="Hasta" 
             class="oj-flex-item oj-sm-12 oj-md-2" value="{{ $variables.SearchDateSupCFQ }}"></oj-input-date>
          <oj-input-text label-hint="Número de transacción" class="oj-flex-item oj-sm-12 oj-md-2"
            value="{{ $variables.SearchTransCFQ }}"></oj-input-text>

          
           <div class="oj-flex-item oj-sm-12 oj-md-1">
                <oj-button style="margin-left: 10px;width:100%" label="Buscar"
              class="oj-button-lg" chroming="outlined" dir="auto" on-oj-action="[[$listeners.buttonAction7]]" ></oj-button>
           </div>
           <oj-label class="oj-flex-item oj-sm-12 oj-md-3"><oj-bind-text ></oj-bind-text></oj-label>
   
      </div>

  
      

        

      <oj-bind-if test="[[ $variables.VisibleButton != true ]]">
        <div class="oj-flex">
          <div class="oj-flex-item oj-sm-12 oj-md-3">
            <oj-button class="buttom_action" on-oj-action="[[$listeners.buttonAction3]]">
              <p class="buttom_label">Cancelar Factura</p>
            </oj-button>
          </div>
        </div>
      </oj-bind-if>
      <div class="oj-flex">
           <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
             data="[[ $variables.BillingsSDP_QFC ]]"
             columns='[  {    "headerText": "Estatus",    "field": "interfaceEstatus",    "template": "Interface estatus"  },  {    "headerText": "Número de transacción",    "field": "creationDateInvoice"  },  {    "headerText": "Razón social",    "field": "billToCustomerName"  },  {    "headerText": "Fecha de transacción",    "field": "transactionDate"  },  {    "headerText": "Creada por",    "field": "createdByInvoice"  },  {    "headerText": "Cantidad ingresada",    "field": "enteredAmount",    "template": "Entered amount"  },  {    "headerText": "Transación Id",    "field": "customerTransactionId"  },  {    "headerText": "id",    "field": "id"  }]'
             selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected3]]">
  
                <template slot="Entered amount">
                  <oj-label style="font-family: system-ui;font-weight: 400;font-size: 16px; padding-left: 18px;">
                    <oj-bind-text  value="[[ '$'+$current.data+'.00' ]]"></oj-bind-text>
                  </oj-label>
                </template>
                <template slot="Interface estatus">
                  <span class="oj-badge"
                    :style='[[ $current.row.interfaceEstatus == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $current.row.interfaceEstatus == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
            
                    <oj-bind-if test="[[ $current.row.interfaceEstatus!='200 - TIMBRADO EXITOSO' &&  $current.row.interfaceEstatus!='500 - ERROR DE TIMBRADO']]">
                      <oj-bind-text value="PENDIENTE"></oj-bind-text>
                    </oj-bind-if>
                      <oj-bind-if test="[[ $current.row.interfaceEstatus=='500 - ERROR DE TIMBRADO']]">
                        <oj-bind-text value="500 ERROR"></oj-bind-text>  
                      </oj-bind-if>
                      <oj-bind-if test="[[ $current.row.interfaceEstatus=='200 - TIMBRADO EXITOSO']]">
                        <oj-bind-text value="200 EXITOSO"></oj-bind-text>
            
                      </oj-bind-if>
                  </span>
                </template> 
            
             
            </oj-table>
      </div>



      <oj-bind-if test="[[ $variables.getBillingsPrueba.billToCustomerName ]]">
<!-- ============================================================   -->

<!-- ============================================================   -->
      </oj-bind-if>

    <!-- <div class="oj-flex"  style=" margin-top: 9px;">
      <div class="oj-flex-item oj-sm-flex-initial">
        <oj-label-value label-edge="start"  colspan="0">
          <oj-label slot="label" for="k" class="oj-flex-item  " dir="rtl"
            style="color:#2E2974; font-size:17px;">Búsqueda</oj-label>
          <oj-input-text slot="value" id="k" class="oj-form-control-text-align-start oj-form-control-max-width-sm"
            placeholder="ESGARI 2021" value="{{ $variables.searchVarBillings }}"
            on-value-changed="[[$listeners.kValue]]"   >
            <div class="oj-flex-item oj-sm-flex-initial search" slot="end">
              <button class="buton-search">
                <div class="oj-flex-item oj-sm-12 oj-md-2" style="margin: 0px 0px -2px -3px;">
                  <img :src="[[ $flow.path + 'resources/images/lupa.png' ]]" width="26">
                </div>
              </button>
            </div>
          </oj-input-text>
        </oj-label-value>
      </div>

      <div style="display:flex;margin-left: auto;align-items:center;margin-top: -12px;">
        <p style="margin-top: auto;margin-bottom: auto;margin-right: 6px;">Filtrar por</p>
        <oj-collapsible class="oj-flex-item oj-sm-flex-initial" style=" margin-left: auto;">
          <div style="position: absolute;z-index: 1;right: 2%; width: 202px; padding: 4px;">
            <oj-buttonset-one class="oj-flex-item oj-sm-12 oj-md-12"
              style="display: grid;border: 1px solid #767676; border-radius: 10px;background: white;"
              on-value-changed="[[$listeners.buttonsetValue]]">
            <oj-option value="option1">Option 1</oj-option>
            <oj-option value="option2">Option 2</oj-option>
            <oj-option value="option3">Option 3</oj-option>
            </oj-buttonset-one>
          </div>
        </oj-collapsible>
      </div>
    </div> -->
  <!-- <oj-bind-if test="[[ $variables.BilngsCancelacionLotes.document[0] ]]"> -->

  <!-- </oj-bind-if> -->
         
  

      
      <!-- <div class="oj-flex">
        <oj-table scroll-policy="loadMoreOnScroll"
          columns='[{"headerText":"Estatus","field":"timbradoInterfaceEstatus","template":"Estatus"},{"headerText":"Transaction Id","field":"customerTransactionId"},{"headerText":"Bill to customer","field":"billToCustomerName"},{"headerText":"Created by","field":"createdByInvoice"},{"headerText":"Id","field":"id"},{"headerText":"Entered amount","field":"enteredAmount"}]'
          selection-mode.row="multiple" data="[[ $variables.myPDPBillings ]]" class="oj-flex-item oj-sm-12 oj-md-12"
          id="oj-table--1176076419-1" selection-mode.column="single"
          on-selected-changed="[[$listeners.ojTable11760764191Selected]]">
           
        <oj-paging-control data="[[ $variables.myPDPBillings ]]" page-size="10" slot="bottom"></oj-paging-control>
      
        <template slot="Status3">
        </template>
        <template slot="Estatus">
        <span class="oj-badge"
          :style='[[ $current.row.interfaceEstatus == "202" ? {"background-color":"#3EA82F"} : $current.row.interfaceEstatus == "CA205 - Folio Fiscal No Existente. - Error al cancelar el UUID de la factura." ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
              
                            <oj-bind-if
                              test="[[ $current.row.interfaceEstatus!='202' &&  $current.row.interfaceEstatus!='CA205 - Folio Fiscal No Existente. - Error al cancelar el UUID de la factura.']]">
              <oj-bind-text value="PRNEDIENTE"></oj-bind-text>
              </oj-bind-if>
                <oj-bind-if test="[[ $current.row.interfaceEstatus=='202']]">
                  <oj-bind-text value="200 EXITOSO"></oj-bind-text>
                </oj-bind-if>
                <oj-bind-if test="[[ $current.row.interfaceEstatus=='CA205 - Folio Fiscal No Existente. - Error al cancelar el UUID de la factura.']]">
                  <oj-bind-text value="500 ERROR"></oj-bind-text>
                </oj-bind-if>
              </span>
        </template>  
        </oj-table>
      </div> -->


      
      <!-- <div class="oj-flex">
        <div class="oj-flex-item oj-sm-12 oj-md-12">
          <div class="card" style="padding: 0px;margin-top:25px;margin-bottom:25px;">
            
            <div class="card_info" style="overflow: hidden;">
              <div class="sub_container" style="width: 25%;padding: 18px;">
                <p class="subtitle_bill">Estatus</p>
                <div style="display: grid;">
                  <p style=" text-align: center;font-size: 16px;">En proceso</p>
                  <img :src="[[ $application.path + 'resources/images/check.png' ]]" style=" margin-left: auto;margin-right: auto;width: 61px;">
                  
                </div>
               
              </div>
            
              <div class="sub_container" style="width: 100%;background: #ececec;padding: 24px;">
                <p class="subtitle_bill">Factura 224</p>
                <p class="subtitle">Información general </p>
                <div class="card_info">

                  <div class="sub_container">

                    <div style="display:felx;">

                      <p> <b>Numero de transacción: </b> 224</p>
                    </div>
                      <p> <b>Fecha de transacción: </b> 9/10/21</p>
                      <p> <b>Nombre de facturación:</b> NUEVA WALT MART DE MÉXICO</p>
                  </div>
                  <div class="sub_container">
                    <p> <b>RFC:</b> JCM97013156Q  </p>
                    <p> <b>ESTADO:</b> Completada </p>
                    <p> <b>ANEXOS:</b> Ninguno </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="oj-flex" style="margin-top: 25px;" data-vb-layout-type="flex">
        </div>

    </div> -->
      <!-- <div class="oj-flex">
        <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
          data="[[$variables.billingListSDP3]]"
          columns='[{"headerText":"Actions","field":"actions","template":"Actions"},{"headerText":"No. de factura","field":"noDeFactura"},{"headerText":"Fecha de facturación","field":"fechaDeFacturaciN"},{"headerText":"Service Provider","field":"serviceProvider"}]'>
          <template slot="Actions">
            <img :src="[[ $flow.path + 'resources/images/ver_1.png' ]]" height="26" style="margin-left:10px;">
          </template>
        </oj-table>
      </div> -->
  

  
 
  

  </oj-switcher>
</div>





<div class="oj-flex">
  <div class="oj-divider-top oj-flex-item oj-sm-12"></div>
</div>
<div class="oj-flex">
  <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
    data="[[$variables.billingListSDP2]]"
    columns='[{"headerText":"Actions","field":"actions"},{"headerText":"Id","field":"id"},{"headerText":"No. de factura","field":"noDeFactura"},{"headerText":"Fecha de facturación","field":"fechaDeFacturaciN"},{"headerText":"Costumer","field":"costumer"},{"headerText":"Service Provider","field":"serviceProvider"}]'></oj-table>
</div>






<style>

</style>





