<!-- Mobile only header and page title -->
<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-md-hide">
  <div role="image" class="vb-web-applayout-header-image-stripe"></div>
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <!-- Navigator toggle button will render only if we have a drawer -->
    <oj-bind-if test="[[ document.querySelector('oj-vb-fragment[name=\'shell-drawer\']') ]]">
      <div class="oj-flex-bar">
        <oj-button on-oj-action="[[$listeners.toggleDrawer]]" chroming="borderless" display="icons">
          <span slot="startIcon" class="oj-ux-ico-menu"></span>
          <span><oj-bind-text value="[[$application.translations.app.app_title_navigation_drawer]]"></oj-bind-text></span>
        </oj-button>
      </div>
    </oj-bind-if>
    <!-- Page specific title and actions with overflow menu displayed -->
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
      <div class="vb-content-header oj-flex oj-sm-flex-items-initial oj-sm-align-items-center">
        <div class="oj-flex-item">
          <div class="oj-typography-body-lg oj-typography-semi-bold">
            <oj-bind-text value="main tracking"></oj-bind-text>
          </div>
          <!-- Add Page specific actions etc -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page specific title and actions for desktop formfactor -->
<div class="oj-flex">
  <hr class="oj-flex-item oj-sm-12 oj-md-12">
</div>
<div class="oj-flex">
  <hr class="oj-flex-item oj-sm-12 oj-md-12">
</div>
<oj-bind-if test="[[true]]">
  <h5>Factura No. 1234</h5>
  <hr>
  <oj-train
    steps='[{"id":"0","label":"En proceso","messageType":"info"},{"id":"","label":"Solicitud rechazada","messageType":"fatal"},{"id":"","label":"Plazo vencido","messageType":"warning"},{"id":"","label":"Cancelado sin aceptación","messageType":"confirmation"},{"id":"","label":"Cancelado&nbsp;con&nbsp;aceptación","messageType":"confirmation"}]'
    class="oj-train-stretch"></oj-train>
  <div class="oj-flex">
    <hr class="oj-flex-item oj-sm-12 oj-md-12">
  </div>
  <div class="oj-flex">
    <!-- <div class="oj-flex-item oj-sm-12 oj-md-12">
      <oj-form-layout max-columns="3" columns="3">
        <oj-input-text label-hint="Text" readonly="true"></oj-input-text>
        <oj-input-text label-hint="Text" readonly="true"></oj-input-text>
        <oj-input-text label-hint="Text" readonly="true"></oj-input-text>
        <oj-input-text label-hint="Text" readonly="true"></oj-input-text>
        <oj-input-text label-hint="Text" readonly="true"></oj-input-text>
        <oj-input-text label-hint="Text" readonly="true"></oj-input-text>
      </oj-form-layout>
    </div> -->
  </div>
  <div class="oj-flex">
    <hr class="oj-flex-item oj-sm-12 oj-md-12">
  </div>
</oj-bind-if>


<div class="oj-flex">
  <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
    data="[[$variables.invoicesListSDP]]"
    columns='[{"headerText":"select","template":"customTemplate"},{"headerText":"invoiceNumber","field":"invoiceNumber"},{"headerText":"invoiceStatus","field":"invoiceStatus"},{"headerText":"stamp","field":"stamp"}]'>
    <template slot="customTemplate">
      <oj-checkboxset>
        <oj-option></oj-option>
      </oj-checkboxset>
    </template>
  </oj-table>
</div>
<div class="oj-flex">
  <hr class="oj-flex-item oj-sm-12 oj-md-12">
</div>
<div class="oj-flex">
  <div class="oj-flex-item oj-sm-12 oj-md-2">
    <oj-button label="Volver" on-oj-action="[[$listeners.buttonAction]]">
      <span class="oj-ux-ico-back" slot="startIcon"></span>
    </oj-button>
  </div>
</div>