<!-- <header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-md-hide">
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <oj-bind-if test="[[ document.querySelector('oj-vb-fragment[name=\'shell-drawer\']') ]]">
      <div class="oj-flex-bar">
        <oj-button on-oj-action="[[$listeners.toggleDrawer]]" chroming="borderless" display="icons">
          <span slot="startIcon" class="oj-ux-ico-menu"></span>
          <span><oj-bind-text value="[[$application.translations.app.app_title_navigation_drawer]]"></oj-bind-text></span>
        </oj-button>
      </div>
    </oj-bind-if>

    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
      <div class="vb-content-header oj-flex oj-sm-flex-items-initial oj-sm-align-items-center">
        <div class="oj-flex-item complete">
          <div class="oj-typography-body-lg oj-typography-semi-bold inline">

            <div> 
               <p class="p_sm">Menú</p>
            </div>

            <div class="complete inline"> 
                <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" class="img_sm">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</header> -->

<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-sm-only-hide">
  <div class="oj-flex" style="background-color: #ffffff;">
    <!-- Company logo and application title only displayed in desktop mode -->
    <div class="oj-flex oj-flex-item oj-sm-12 oj-md-4" data-vb-layout-type="flex">
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-flex oj-sm-justify-content-center oj-sm-align-items-center"
      style="margin-top:7px; padding:7px;">
      <div class="oj-flex-item oj-sm-flex-initial">
      </div>
      <div class="oj-flex-item oj-sm-flex-initial">
        <button label="Button" style="border: none; background: #fff;cursor: pointer;"
          on-click="[[$listeners.buttonClick]]">
          <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" width="45"
            style="object-fit: contain;">
        </button>
      </div>
    </div>  
    <div style="padding-right:10px;" class="oj-flex oj-flex-item oj-sm-12 oj-md-4 oj-sm-align-items-center oj-sm-justify-content-flex-end">
      <div class="oj-flex-item oj-sm-flex-initial" style="font-size:12px;">
        <oj-bind-text value="Administrador"></oj-bind-text>
      </div>
      <div class="oj-flex-item oj-sm-flex-initial oj-sm-align-self-center">
        <oj-avatar class="oj-flex-item oj-sm-flex-initial" size="xxs" icon-class="oj-ux-ico-avatar"
          style="margin-left:10px;"></oj-avatar>
      </div>
    </div>
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
        <h1>prueba</h1>
    </div>
  </div>
</header>




<!-- Page specific title and actions for desktop formfactor -->
<div class="oj-flex">
  <oj-switcher value="[[$variables.ojTabBar17748034831SelectedItem]]" id="oj-switcher-1774803483-1"
    class="oj-flex-item oj-sm-12 oj-md-12">
    <div slot="oj-tab-bar-1774803483-1-tab-1" id="oj-tab-bar-1774803483-1-tab-1-panel"
      role="tabpanel">
      <div class="oj-flex">
        <hr class="oj-flex-item oj-sm-12 oj-md-12">
      </div>
      <div class="oj-flex" style="  margin-top: 10%;">
        <div class="oj-flex oj-flex-item oj-sm-12 oj-md-12">
          <div class="oj-flex-item oj-sm-12 oj-md-3"></div>
          <div class="oj-flex-item oj-sm-12 oj-md-2">
              <div style="width: 100%;"  class="oj-button-full-width div_shadow">
                  <div style=" text-align: center;">
                    <div class="card_menu">
                      <p style="padding-top: 16px;" >Timbrado</p>
                    </div>
                    <button  class="button_img" on-click="[[$listeners.buttonClick6]]"   > 
                      <img :src="[[ $flow.path + 'resources/images/campana-del-hotel.png' ]]"
                        style="width: 77px; margin-left: -9px;" > 
                    </button>
                   
                  </div>
            </div>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-2"></div>
          <!-- <div class="oj-flex-item oj-sm-12 oj-md-2">
              <div style="width: 100%;"  class="oj-button-full-width div_shadow">
                  <div style=" text-align: center;">
                    <div class="card_menu">
                      <p style="padding-top: 16px;" >Facturación</p>
                    </div>
                    <button  class="button_img" on-click="[[$listeners.buttonClick4]]" > 
                      <img :src="[[ $application.path + 'resources/images/menu-fac.png' ]]" style="width: 77px; margin-left: -9px;" > 
                    </button>
                   
                  </div>
            </div>
          </div> -->
      
          <div class="oj-flex-item oj-sm-12 oj-md-2">
              <div style="width: 100%;"  class="oj-button-full-width div_shadow">
                  <div style=" text-align: center;">
                    <div class="card_menu">
                      <p style="padding-top: 16px;" >Cancelación</p>
                    </div>
                    <button  class="button_img" on-click="[[$listeners.buttonClick5]]"  > 
                      <img :src="[[ $flow.path + 'resources/images/cancelar.png' ]]"
                        style="width: 65px; margin-left: -3px;" > 
                    </button>
                   
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="oj-flex">
        <div class="oj-flex-item oj-sm-12 oj-md-12"></div>
      </div>
    </div>
    <div id="oj-tab-bar-1774803483-1-tab-2-panel" slot="oj-tab-bar-1774803483-1-tab-2"
       role="tabpanel">
      <div class="oj-flex">
        <hr class="oj-flex-item oj-sm-12 oj-md-12">
      </div>
      <div class="oj-flex">
        <div class="oj-flex-item oj-sm-12 oj-md-12">
          <div class="oj-flex oj-sm-align-items-center oj-sm-justify-content-center">
            <div class="oj-flex-item oj-sm-flex-initial">
              <img :src="[[ $flow.path + 'resources/images/Captura_de_pantalla_2022-12-12_125007.png' ]]" width="200"
                style="object-fit: scale-down;" alt="OTM" on-click="[[$listeners.imageClick]]">
              <img :src="[[ $flow.path + 'resources/images/Captura_de_pantalla_2022-12-12_125007.png' ]]"
                                                         on-click="[[$listeners.imageClick]]" width="200"
                                                         style="object-fit: scale-down;" alt="Oracle Fusion">
            </div>
          </div>
  </oj-switcher>
</div>
<div class="oj-flex">
  <hr class="oj-flex-item oj-sm-12 oj-md-12">
</div>