<!-- Mobile only header and page title -->
<!-- <header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-md-hide">
  
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
  
    <oj-bind-if test="[[ document.querySelector('oj-vb-fragment[name=\'shell-drawer\']') ]]">
      <div class="oj-flex-bar">
        <oj-button on-oj-action="[[$listeners.toggleDrawer]]" chroming="borderless"
                   display="icons">
          <span slot="startIcon" class="oj-ux-ico-menu"></span>
          <span><oj-bind-text value="[[$application.translations.app.app_title_navigation_drawer]]"></oj-bind-text></span>
        </oj-button>
      </div>
    </oj-bind-if>

    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
      <div class="vb-content-header oj-flex oj-sm-flex-items-initial oj-sm-align-items-center">
        <div class="oj-flex-item complete">

          <div class="oj-typography-body-lg oj-typography-semi-bold inline">

            <div> 
               <p class="p_sm">Timbrado </p>
            </div>

            <div class="complete inline"> 
                <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" class="img_sm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> -->

<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-sm-only-hide">
  <div class="oj-flex" style="background-color: #ffffff;">
    <!-- Company logo and application title only displayed in desktop mode -->
    <div class="oj-flex oj-flex-item oj-sm-12 oj-md-4" data-vb-layout-type="flex">
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-flex oj-sm-justify-content-center oj-sm-align-items-center"
      style="margin-top:7px; padding:7px;">
      <div class="oj-flex-item oj-sm-flex-initial">
      </div>
      <div class="oj-flex-item oj-sm-flex-initial">
        <button label="Button" style="border: none; background: #fff;cursor: pointer;"
          on-click="[[$listeners.buttonClick]]">
          <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" width="45"
            style="object-fit: contain;">
        </button>
      </div>
    </div>  
    <div style="padding-right:10px;" class="oj-flex oj-flex-item oj-sm-12 oj-md-4 oj-sm-align-items-center oj-sm-justify-content-flex-end">
      <div class="oj-flex-item oj-sm-flex-initial" style="font-size:12px;">
        <oj-bind-text value="Administrador"></oj-bind-text>
      </div>
      <div class="oj-flex-item oj-sm-flex-initial oj-sm-align-self-center">
        <oj-avatar class="oj-flex-item oj-sm-flex-initial" size="xxs" icon-class="oj-ux-ico-avatar"
          style="margin-left:10px;"></oj-avatar>
      </div>
    </div>
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
        <h1>prueba</h1>
    </div>
  </div>
</header>

<div class="vb-content-header oj-flex oj-sm-flex-1 oj-sm-only-hide oj-sm-align-items-center"
 >
  <div role="image">
    <button class="button_return" on-click="[[$listeners.buttonClick]]"  >
      <img :src="[[ $flow.path + 'resources/images/back.png' ]]" style="width:22px;margin: 0px -10px -6px -9px;">
      
    </button>
  </div>
  <div class="oj-flex-item" style="padding-left: 10px;">
    <div class="oj-typography-body-lg oj-typography-semi-bold">
      <oj-highlight-text text="Timbrado OTM" style="font-size:25px;"></oj-highlight-text>
    </div>

  </div>

</div>

<!-- Page specific title and actions for desktop formfactor -->
  <div class="oj-flex-item">

      <oj-tab-bar style="margin-bottom:15px" edge="top" id="oj-tab-bar--734329482-1" selection="{{$variables.ojTabBar7343294821SelectedItem}}">
        <ul>
          <!-- <li id="oj-tab-bar--734329482-1-tab-1">
            <a href="#" id="oj-tab-bar--734329482-1-tab-1-tab" aria-controls="oj-tab-bar--734329482-1-tab-1-panel"></a>
          </li>
          <li id="oj-tab-bar--734329482-1-tab-2">
            <a href="#" id="oj-tab-bar--734329482-1-tab-2-tab" aria-controls="oj-tab-bar--734329482-1-tab-2-panel">Cartas Porte</a>
          </li> -->
          <li id="oj-tab-bar--734329482-1-tab-3">
            <a href="#" id="oj-tab-bar--734329482-1-tab-3-tab" aria-controls="oj-tab-bar--734329482-1-tab-3-panel">Bills</a>
          </li>
        </ul>
      </oj-tab-bar>
      <oj-switcher value="[[$variables.ojTabBar7343294821SelectedItem]]" id="oj-switcher--734329482-1">
        <div slot="oj-tab-bar--734329482-1-tab-1" id="oj-tab-bar--734329482-1-tab-1-panel"
           role="tabpanel">

          <div class="oj-flex">
            <p class="oj-flex-item oj-sm-12 oj-md-12 title_c">Bills</p>
          </div>



            <oj-dialog id="loader_init" title="Espere un momento..." style="border-radius: 25px; width: 312px;font-weight: 500;top: 879.6px;"
              cancel-behavior="none" resize-behavior="none" class="">
              <div slot="body" style="overflow:hidden">
                <div style="text-align:-webkit-center">
                  <div id="load2" class="loader_init"></div>
                  <div class="oj-flex">
                    <h3 id="hola" class="oj-flex-item oj-sm-12 oj-md-12" style="font-weight: 500;">Cargando...</h3>
                  </div>
                </div>
              </div>
            </oj-dialog>

          <div class="oj-flex">
           <!-- <oj-input-search aria-label="My search field" value="{{ $variables.SearchCustomerQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-search> -->
          
            <div style="margin-right: 10px;"  class="oj-flex-item oj-sm-12 oj-md-1">
           </div>

           <oj-input-text style="margin-right: 10px;" label-hint="invoiceXid" class="oj-flex-item oj-sm-12 oj-md-2"
             value="{{ $variables.Search_id }}" >
           </oj-input-text>

            
           <oj-input-date style="margin-right: 10px;" label-hint="De" 
             class="oj-flex-item oj-sm-12 oj-md-2" value="{{ $variables.SearchDateInf }}">
            </oj-input-date>
           <oj-input-date style="margin-right: 10px;" label-hint="Hasta"
             class="oj-flex-item oj-sm-12 oj-md-2" value="{{ $variables.SearchDateSup }}"></oj-input-date>

           
           <div class="oj-flex-item oj-sm-12 oj-md-2">
                <oj-button style=" height: 51px;width: 89%;" label="Buscar " on-oj-action="[[$listeners.buttonAction]]" class="oj-button-full-width"></oj-button>
           </div>
          
            <oj-bind-if test="[[ $variables.Check_Bills!= true ]]">
                  <div class="oj-flex-item oj-sm-12 oj-md-2">
                        <oj-button style=" height: 51px;width: 89%;background-color: #292973;" on-oj-action="[[$listeners.buttonAction3]]" class="oj-button-full-width"> <p style="color:#ffffff;    margin-bottom: 0px;">Timbrar</p> </oj-button>
                  </div>
            </oj-bind-if>
          </div>

          <div class="oj-flex">
  <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12 oj-table-hide-vertical-scrollbar"
    data="[[ $variables.BillPDP ]]"
    columns='[{"headerText":"invoiceXid","field":"invoiceXid"},{"headerText":"invoiceNumber","field":"invoiceNumber"},{"headerText":"invoiceDate","field":"invoiceDate"},{"headerText":"netAmountDue","field":"netAmountDue"},{"headerText":"servprovAliasValue","field":"servprovAliasValue"},{"headerText":"UUID","field":"remarks","template":"RE2"}]'
    selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected]]">

        <oj-paging-control data="[[ $variables.BillPDP ]]" page-size="50" slot="bottom">
        </oj-paging-control>
    <template slot="RE1">
          <oj-label>
           <oj-bind-text value="[[$current.data]]"></oj-bind-text>
          </oj-label>
    </template>
    <template slot="RE">
          <oj-label>
           <oj-bind-text value="[[ $functions.filterUUID($current.data) ]]"></oj-bind-text>
          </oj-label>
    </template>
    <template slot="RE2">
          <oj-label>
           <oj-bind-text value="[[ $functions.filterUUIDtext($current.data) ]]"></oj-bind-text>
          </oj-label>
    </template>
  
  </oj-table>


</div>
                   
      
          <!-- <oj-label class="oj-flex-item oj-sm-12 oj-md-3"><oj-bind-text ></oj-bind-text></oj-label> -->

</div>
          <div class="oj-flex">


          <div style="margin-right: 10px;"  class="oj-flex-item oj-sm-12 oj-md-1">
          </div>


        </div>

        <div slot="oj-tab-bar--734329482-1-tab-2" id="oj-tab-bar--734329482-1-tab-2-panel"
          role="tabpanel">

          <div class="oj-flex">
            <p class="oj-flex-item oj-sm-12 oj-md-12 title_c">Facturas candidatas a timbrar</p>
          </div>
          
          <div class="oj-flex">
            <oj-label class="oj-flex-item oj-sm-12 oj-md-3"><oj-bind-text value="[[ $variables.BillPDP ]]"></oj-bind-text></oj-label>
          </div>
          <div class="oj-flex">
            <oj-label class="oj-flex-item oj-sm-12 oj-md-3"><oj-bind-text value="[[ $variables.StringQuery_Cartas ]]"></oj-bind-text></oj-label>
          </div>



          <div class="oj-flex">          
            <div style="margin-right: 10px;"  class="oj-flex-item oj-sm-12 oj-md-1">
            </div>

           <oj-input-text style="margin-right: 10px;" label-hint="invoiceXid" class="oj-flex-item oj-sm-12 oj-md-2"
             value="{{ $variables.Search_id_Carta }}" >
           </oj-input-text>

            
           <oj-input-date style="margin-right: 10px;" label-hint="De" 
             class="oj-flex-item oj-sm-12 oj-md-2" value="{{ $variables.SearchDateInf_Cartas }}">
            </oj-input-date>
           <oj-input-date style="margin-right: 10px;" label-hint="Hasta"
             class="oj-flex-item oj-sm-12 oj-md-2" value="{{ $variables.SearchDateSup_Cartas }}"></oj-input-date>

           
           <div class="oj-flex-item oj-sm-12 oj-md-2">
                <oj-button style=" height: 51px;width: 89%;" label="Buscar " class="oj-button-full-width"
                  on-oj-action="[[$listeners.buttonAction2]]"></oj-button>
           </div>

            <div class="oj-flex-item oj-sm-12 oj-md-2">
                  <oj-button style=" height: 51px;width: 89%;background-color: #292973;" on-oj-action="[[$listeners.buttonAction3]]" class="oj-button-full-width"> <p style="color:#ffffff;    margin-bottom: 0px;">Timbrar</p> </oj-button>
            </div>
       
          </div>



          <div class="oj-flex">
            <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
              data="[[ $variables.CartaPDP ]]"
              columns='[  {    "headerText": "invoiceXid",    "field": "invoiceXid"  },  {    "headerText": "invoiceNumber",    "field": "invoiceNumber"  },  {    "headerText": "invoiceDate",    "field": "invoiceDate"  },  {    "headerText": "netAmountDue",    "field": "netAmountDue"  },  {    "headerText": "servprovAliasValue",    "field": "servprovAliasValue"  }]'
              selection-mode.row="multiple">

              <oj-paging-control data="[[ $variables.CartaPDP ]]" page-size="10" slot="bottom">
              </oj-paging-control>
              
            </oj-table>
          </div>
         

        </div>
        <div slot="oj-tab-bar--734329482-1-tab-3" id="oj-tab-bar--734329482-1-tab-3-panel"
          aria-labelledby="oj-tab-bar--734329482-1-tab-3-tab" role="tabpanel">
          <div class="oj-flex">
           <!-- <oj-input-search aria-label="My search field" value="{{ $variables.SearchCustomerQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-search> -->
          
            

           <oj-input-text style="margin-right: 10px;" label-hint="Bill GID" class="oj-flex-item oj-sm-12 oj-md-2"
             value="{{ $variables.P_BILL_NUMBER }}"
              >
           </oj-input-text>

            
           <oj-input-date style="margin-right: 10px;" label-hint="De" class="oj-flex-item oj-sm-12 oj-md-2"
             value="{{ $variables.P_FECHA_INICIAL }}" >
            </oj-input-date>
           <oj-input-date style="margin-right: 10px;" label-hint="Hasta" class="oj-flex-item oj-sm-12 oj-md-2"
             :id="[[ $variables.P_FECHA_FINAL ]]" value="{{ $variables.P_FECHA_FINAL }}">
            </oj-input-date>

           
           <div class="oj-flex-item oj-sm-12 oj-md-2">
                <oj-button style=" height: 51px;width: 89%;" label="Buscar " class="oj-button-full-width"
                  on-oj-action="[[$listeners.buttonAction4]]"></oj-button>
           </div>
    
            <oj-bind-if test="[[ $variables.Check_BillsComplete != true ]]">
              <div class="oj-flex-item oj-sm-12 oj-md-2">
                      <oj-button style=" height: 51px;width: 89%;background-color: #292973;"
                        class="oj-button-full-width" on-oj-action="[[$listeners.buttonAction5]]"> <p style="color:#ffffff;    margin-bottom: 0px;">Timbrar</p> </oj-button>
              </div>
            </oj-bind-if>
          </div>
           <div class="oj-flex">
            <oj-table style="margin-top:15px;" scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
              data="[[ $variables.BillsCompletePDP ]]"
              columns='[{"headerText":"GID","field":"BILL_GID","template":"GID"},{"headerText":"No. de factura","field":"BILL_INVOICE_NUMBER"},{"headerText":"Proveedor de servicio","field":"BILL_SERPROV_ALIAS"},{"headerText":"Fecha de facturación","field":"BILL_DATE"},{"headerText":"Tipo de timbrado","field":"TIPO_TIMBRADO"},{"headerText":"Monto de Factura","field":"BILL_NET_AMOUNT_DUE"},{"headerText":"UUID","field":"SELL_REMARK_TEXT","template":"REMARK"},{"headerText":"ID","field":"BILL_XID"},{"headerText":"ERROR","field":"ERROR","template":"ERROR"}]'
              selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected2]]">
              <oj-paging-control data="[[ $variables.BillsCompletePDP ]]" page-size="8" slot="bottom">
              </oj-paging-control>
              <template slot="GID">
                <oj-label :style='[[$current.row.ERROR == "" ? {"color":"#000000"} : {"color":"#DA0411"} ]]'  style="font-size: 15px;font-weight: 400;">
                  <oj-bind-text value="[[$current.data]]"></oj-bind-text>
                </oj-label>
              </template>
              <template slot="REMARK">
                <oj-label  style="font-size: 15px;font-weight: 400;">
                  <oj-bind-text value="[[ $functions.filterRemarkText($current.data) ]]"></oj-bind-text>
                </oj-label>
              </template>
              <template slot="ERROR">
                <oj-label  style="font-size: 15px;font-weight: 400;">
                  <oj-bind-text value="[[ $functions.filterError($current.data) ]]"></oj-bind-text>
                </oj-label>
              </template>
            </oj-table>
           </div>

          <div class="oj-flex" style="margin-top:20px;">
            <div class="oj-flex-item oj-sm-12 oj-md-12">
              <oj-bind-if test="[[ ($variables.currentSelection ? true :false)]]">
              <oj-bind-text value="Errores"></oj-bind-text>
              <oj-text-area style="color: red;" disabled="true" class="oj-flex-item oj-sm-padding-1x" label-edge='provided' label-hint='Current Selection'
                  value="{{ ($variables.currentSelection ? $variables.currentSelection :'') }}"
                  resize-behavior="vertical" rows="4"></oj-text-area>
              </oj-bind-if>
            </div>
          </div>
        </div>
      </oj-switcher>


</div>




