<!-- <header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-md-hide">
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <oj-bind-if test="[[ document.querySelector('oj-vb-fragment[name=\'shell-drawer\']') ]]">
      <div class="oj-flex-bar">
        <oj-button on-oj-action="[[$listeners.toggleDrawer]]" chroming="borderless"
                   display="icons">
          <span slot="startIcon" class="oj-ux-ico-menu"></span>
          <span><oj-bind-text value="[[$application.translations.app.app_title_navigation_drawer]]"></oj-bind-text></span>
        </oj-button>
      </div>
    </oj-bind-if>
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
      <div class="vb-content-header oj-flex oj-sm-flex-items-initial oj-sm-align-items-center">
        <div class="oj-flex-item">
          <div class="oj-typography-body-lg oj-typography-semi-bold">
            <oj-bind-text value="Cancelación de facturas"></oj-bind-text>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> -->

<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-sm-only-hide">
  <div class="oj-flex" style="background-color: #ffffff;">
    <!-- Company logo and application title only displayed in desktop mode -->
    <div class="oj-flex oj-flex-item oj-sm-12 oj-md-4" data-vb-layout-type="flex">
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-flex oj-sm-justify-content-center oj-sm-align-items-center"
      style="margin-top:7px; padding:7px;">
      <div class="oj-flex-item oj-sm-flex-initial">
      </div>
      <div class="oj-flex-item oj-sm-flex-initial">
        <button label="Button" style="border: none; background: #fff;cursor: pointer;"
          on-click="[[$listeners.buttonClick]]">
          <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" width="45"
            style="object-fit: contain;">
        </button>
      </div>
    </div>  
    <div style="padding-right:10px;" class="oj-flex oj-flex-item oj-sm-12 oj-md-4 oj-sm-align-items-center oj-sm-justify-content-flex-end">
      <div class="oj-flex-item oj-sm-flex-initial" style="font-size:12px;">
        <oj-bind-text value="Administrador"></oj-bind-text>
      </div>
      <div class="oj-flex-item oj-sm-flex-initial oj-sm-align-self-center">
        <oj-avatar class="oj-flex-item oj-sm-flex-initial" size="xxs" icon-class="oj-ux-ico-avatar"
          style="margin-left:10px;"></oj-avatar>
      </div>
    </div>
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
        <h1>prueba</h1>
    </div>
  </div>
</header>

<!-- Page specific title and actions for desktop formfactor -->
<div class="vb-content-header oj-flex oj-sm-flex-1 oj-sm-only-hide oj-sm-align-items-center">
  <div role="image">
    <button class="button_return" on-click="[[$listeners.buttonClick2]]"  >
      <img :src="[[ $flow.path + 'resources/images/back.png' ]]" style="width:22px;margin: 0px -10px -6px -9px;">
      
    </button>
  </div>
  <div class="oj-flex-item">
    <div class="oj-typography-body-lg oj-typography-semi-bold">
      <oj-highlight-text text="Timbrado " style="font-size:25px; padding-left:10px;"></oj-highlight-text>
    </div>

  </div>

</div>

<div class="card_info" style="margin-bottom: 51px;margin-top: 45px;" >

  <div style="height:118px;" class="oj-flex-item oj-sm-6 oj-md-6 card_otm">
    <button  label="ORACLE" class="oj-button-full-width option_button_l" on-click="[[$listeners.buttonClick]]" >
      <div style="display:flex;">
        <div style=" width: 32%;height:13px;margin-top: auto;margin-bottom:auto;font-size: 15px; margin-left: 0px; margin-right: 15px;">
          <p >CLOUD</p>
        </div>
        <div style="margin-left: auto;margin-right: auto;">
          <img :src="[[ $flow.path + 'resources/images/oracle-cloud-removebg-preview.png' ]]" width="99"
            style="object-fit: fill;  width: 61px;height: 61px;" height="99">

      </div>
       </div>
    </button>
  </div>

  <div style="height:118px;" class="oj-flex-item oj-sm-6 oj-md-6 card_otm">
    <button  label="ORACLE" class="oj-button-full-width option_button_r" on-click="[[$listeners.buttonClick4]]"  >
      <div style="display:flex;">
        <div style=" width: 32%;height:13px;margin-top: auto;margin-bottom:auto;font-size: 15px; margin-left: 0px; margin-right: 15px;">
          <p >OTM</p>
        </div>
        <div style="margin-left: auto;margin-right: auto;margin-top: auto;margin-bottom: auto;">
          <img :src="[[ $flow.path + 'resources/images/otm_oracle_1.png' ]]" width="99" style="object-fit: fill;  width: 61px;height: 61px;"
        height="99">


      </div>
    </button>
  </div>

</div>





<div class="oj-flex">
  <div class="oj-divider-top oj-flex-item oj-sm-12"></div>
</div>






