<!-- Mobile only header and page title -->
<!-- <header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-md-hide">
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <oj-bind-if test="[[ document.querySelector('oj-vb-fragment[name=\'shell-drawer\']') ]]">
      <div class="oj-flex-bar">
        <oj-button on-oj-action="[[$listeners.toggleDrawer]]" chroming="borderless"
                   display="icons">
          <span slot="startIcon" class="oj-ux-ico-menu"></span>
          <span><oj-bind-text value="[[$application.translations.app.app_title_navigation_drawer]]"></oj-bind-text></span>
        </oj-button>
      </div>
    </oj-bind-if>
    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
      <div class="vb-content-header oj-flex oj-sm-flex-items-initial oj-sm-align-items-center">
        <div class="oj-flex-item complete">
          <div class="oj-typography-body-lg oj-typography-semi-bold inline">

            <div> 
               <p class="p_sm">Timbrado </p>
            </div>
    

            <div class="complete inline"> 
                <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" class="img_sm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> -->

<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-sm-only-hide">
  <div class="oj-flex" style="background-color: #ffffff;">
    <!-- Company logo and application title only displayed in desktop mode -->
    <div class="oj-flex oj-flex-item oj-sm-12 oj-md-4" data-vb-layout-type="flex">
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-flex oj-sm-justify-content-center oj-sm-align-items-center"
      style="margin-top:7px; padding:7px;">
      <div class="oj-flex-item oj-sm-flex-initial">
      </div>
      <div class="oj-flex-item oj-sm-flex-initial">
        <button label="Button" style="border: none; background: #fff;cursor: pointer;"
          on-click="[[$listeners.buttonClick]]">
          <img :src="[[ $application.path + 'resources/images/Grouplogotipo.png' ]]" width="45"
            style="object-fit: contain;">
        </button>
      </div>
    </div>  
    <div style="padding-right:10px;" class="oj-flex oj-flex-item oj-sm-12 oj-md-4 oj-sm-align-items-center oj-sm-justify-content-flex-end">
      <div class="oj-flex-item oj-sm-flex-initial" style="font-size:12px;">
        <oj-bind-text value="Administrador"></oj-bind-text>
      </div>
      <div class="oj-flex-item oj-sm-flex-initial oj-sm-align-self-center">
        <oj-avatar class="oj-flex-item oj-sm-flex-initial" size="xxs" icon-class="oj-ux-ico-avatar"
          style="margin-left:10px;"></oj-avatar>
      </div>
    </div>
        <oj-dialog id="loader_init" title="Espere un momento..." style="border-radius: 25px; width: 312px;font-weight: 500;top: 879.6px;"
              cancel-behavior="none" resize-behavior="none" class="">
              <div slot="body" style="overflow:hidden">
                <div style="text-align:-webkit-center">
                  <div id="load2" class="loader_init"></div>
                  <div class="oj-flex">
                    <h3 id="hola" class="oj-flex-item oj-sm-12 oj-md-12" style="font-weight: 500;">Cargando...</h3>
                  </div>
                </div>
              </div>
            </oj-dialog>


    <div class="oj-sm-margin-2x-horizontal oj-sm-align-items-center oj-md-hide oj-sm-flex-1">
        <h1>prueba</h1>
    </div>
  </div>
</header>


<!-- Page specific title and actions for desktop formfactor -->
<div class="vb-content-header oj-flex oj-sm-flex-1 oj-sm-only-hide oj-sm-align-items-center">
  <div role="image">
    <button class="button_return" on-click="[[$listeners.buttonClick]]" >
      <img :src="[[ $flow.path + 'resources/images/back.png' ]]" style="width:22px;margin: 0px -10px -6px -9px;">
      
    </button>
  </div>
  <div class="oj-flex-item" style="padding-left: 10px;">
    <div class="oj-typography-body-lg oj-typography-semi-bold">
      <oj-highlight-text text="Timbrado CLOUD" style="font-size:25px;"></oj-highlight-text>
    </div>

  </div>

</div>

<div style="display: flex;" >

</div>






<div class="oj-flex">
  <div class="oj-divider-top oj-flex-item oj-sm-12"></div>
</div>
<div class="oj-flex">
  <oj-tab-bar edge="top" id="oj-tab-bar-202941639-1" selection="{{$variables.ojTabBar2029416391SelectedItem}}"
    class="oj-flex-item oj-sm-12 oj-md-12">
    <ul>
      <!-- <li id="oj-tab-bar-202941639-1-tab-1">
        <a href="#" id="oj-tab-bar-202941639-1-tab-1-tab" aria-controls="oj-tab-bar-202941639-1-tab-1-panel">Individual factura</a>
      </li> -->
      <li id="oj-tab-bar-202941639-1-tab-2">
        <a href="#" id="oj-tab-bar-202941639-1-tab-2-tab" aria-controls="oj-tab-bar-202941639-1-tab-2-panel">Facturas</a>
      </li>
      <li id="oj-tab-bar-202941639-1-tab-3">
        <a href="#" id="oj-tab-bar-202941639-1-tab-3-tab" aria-controls="oj-tab-bar-202941639-1-tab-3-panel">Complementos de pago</a>
      </li>
      <li id="oj-tab-bar-202941639-1-tab-4">
        <a href="#" id="oj-tab-bar-202941639-1-tab-4-tab" aria-controls="oj-tab-bar-202941639-1-tab-4-panel">Notas de crédito</a>
      </li>
    </ul>
  </oj-tab-bar>
</div>
<div class="oj-flex">
  <oj-switcher value="[[$variables.ojTabBar2029416391SelectedItem]]" id="oj-switcher-202941639-1"
    class="oj-flex-item oj-sm-12 oj-md-12">
    <div slot="oj-tab-bar-202941639-1-tab-1" id="oj-tab-bar-202941639-1-tab-1-panel"
      role="tabpanel">

      <div class="oj-flex">
        <p class="oj-flex-item oj-sm-12 oj-md-12 title_c">Facturas candidatas a timbrar</p>
      </div>
    
    <oj-bind-if test="[[  $variables.selsctedBilligsFacturar.billToCustomerName  ]]">    

    <div class="oj-flex">
        <div class="oj-flex-item oj-sm-12 oj-md-12">       
          <div class="card">
            <p class="subtitle_bill">Factura </p>
            <p class="subtitle">Información general </p>
            <div class="card_info">
              <div class="sub_container">
                  <div style="display:felx;">
                  <p> <b>Bill to customer name: </b> <oj-bind-text value="[[  $variables.selsctedBilligsFacturar.billToCustomerName  ]]"></oj-bind-text></p>
                </div>
                  <p> <b>Created by: </b>  <oj-bind-text     value="[[ $variables.selsctedBilligsFacturar.createdByInvoice]]"></oj-bind-text></p>
                  <p> <b>Creation date:</b> <oj-bind-text
                                                value="[[ $page.variables.selsctedBilligsFacturar.transactionDate]]"></oj-bind-text></p>
              </div>
              <div class="sub_container">
                <p> <b>Customer Transaction ID:</b>  <oj-bind-text value="[[ $variables.selsctedBilligsFacturar.customerTransactionId]]"></oj-bind-text> </p>
                <p> <b>Entered Amount:</b>  <oj-bind-text value="[[ $variables.selsctedBilligsFacturar.enteredAmount ]]"></oj-bind-text> </p>
                <p> <b>Transaction Date:</b>  <oj-bind-text value="[[ $page.variables.selsctedBilligsFacturar.transactionDate]]"></oj-bind-text> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </oj-bind-if>



      <div class="oj-flex">
        <div style="width:100%;">
      <div class="oj-flex" style="margin-top: 21px;">
        <div class="oj-flex" style="width: 100%;">

          <div style="display:flex;margin-left: auto;align-items:center;">
            
    

          </div>
        </div>
      </div>

       <oj-bind-if test="[[ $variables.selsctedBilligsFacturar.customerTransactionId ]]">
         
          
             
              
              <!-- <oj-button class="buttom_action" on-oj-action="[[$listeners.buttonAction]]">
            <p class="buttom_label">Timbrar Factura</p>
              </oj-button> -->

                  <oj-button style="margin-bottom: 15px;"  class="buttom_action" disabled="[[ $variables.oj_table_202941639_1SelectedId === '' ]]"
                on-oj-action="[[$listeners.deleteBillingsFacturarButtonClicked]]"> <p class="buttom_label">Timbrar Factura</p></oj-button>
            
       </oj-bind-if>

      

      
          
          <div class="oj-flex">
  <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12" selection-mode.column="single"
    data="[[ $variables.myPDPBillingsFacturacion ]]"
    columns='[{"headerText":"Estatus","field":"timbradoInterfaceEstatus","template":"Estatus"},{"headerText":"billToCustomerName","field":"billToCustomerName"},{"headerText":"createdByInvoice","field":"createdByInvoice"},{"headerText":"customerTransactionId","field":"customerTransactionId"},{"headerText":"id","field":"id"},{"headerText":"enteredAmount","field":"enteredAmount"},{"field":"creationDateInvoice","headerText":"CreationDate"}]'
    on-first-selected-row-changed="[[ $listeners.tableFirstSelectedRow2 ]]" selection-mode.row="single"
    id="oj-table-202941639-1">
     <oj-paging-control data="[[ $variables.myPDPBillingsFacturacion ]]" page-size="6" slot="bottom"></oj-paging-control>
     <template slot="Estatus">
            <span class="oj-badge">
              <oj-bind-text value="[[$current.data]]"></oj-bind-text>
            </span>
     </template>  
  </oj-table>
          </div>
          <div class="oj-flex">
  <oj-list-view class="oj-flex-item oj-sm-12 oj-md-12" data="[[ $variables.Var_MultipleSelectMemos ]]">
              <template slot="itemTemplate">
            <oj-list-item-layout>
<!-- Remove span with class for icon and replace with img to directly use an image -->
<!--img src="[[ $current.data.image ]]" slot="leading" width="32" height="32"/-->
              <div slot="leading">
                <span role="img" :class="[[ $current.data.icon ]]"></span>
              </div>
              <div>
                <oj-bind-text value="[[ $current.data.default ]]"></oj-bind-text>
              </div>
              <div slot="secondary">
                <oj-bind-text value="[[ $current.data.secondary ]]"></oj-bind-text>
              </div>
              <div slot="tertiary">
                <oj-bind-text value="[[ $current.data.tertiary ]]"></oj-bind-text>
              </div>
              <div slot="metadata">
                <oj-bind-text value="[[ $current.data.metadata ]]"></oj-bind-text>
              </div>
            </oj-list-item-layout>
              </template>
  </oj-list-view>
          </div>
          <div class="oj-flex">
  <div class="oj-flex-item oj-sm-12 oj-md-2"></div>
  <oj-label class="oj-flex-item oj-sm-12 oj-md-3"><oj-bind-text value="[[ $variables.TESTTTT ]]"></oj-bind-text></oj-label>
          </div>
          <div class="oj-flex">
  <div class="oj-flex-item oj-sm-12 oj-md-1"></div>
  <oj-label class="oj-flex-item oj-sm-12 oj-md-3" :id="[[ $variables.selectedFactura.serviceProvider ]]"><oj-bind-text value="[[ $variables.selectedFactura.creationDate ]]"></oj-bind-text></oj-label>
          </div>
        </div>
      </div>




    </div>
    <div slot="oj-tab-bar-202941639-1-tab-2" id="oj-tab-bar-202941639-1-tab-2-panel"
      aria-labelledby="oj-tab-bar-202941639-1-tab-2-tab" role="tabpanel">
      
        
      <!-- <oj-bind-if test="[[ $variables.SelectedLotes.invoice[0] ]]">    
        <div class="oj-flex">
          <div class="oj-flex-item oj-sm-12 oj-md-2">
            <oj-button class="buttom_action" on-oj-action="[[$listeners.buttonAction2]]">
              <p class="buttom_label">Timbrar facturas</p>
            </oj-button>
          </div>
        </div>
      </oj-bind-if> -->  


      
 
        <!-- <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
          data="[[ $variables.myPDPBillingsLotes ]]"
          columns='[  {    "headerText": "Creation date",    "field": "creationDateInvoice"  },  {    "headerText": "Transaction Date",    "field": "transactionDate"  },  {    "headerText": "Estatus",    "field": "timbradoInterfaceEstatus",    "template": "Estatus"  },  {    "headerText": "Transaction Id",    "field": "customerTransactionId"  },  {    "headerText": "Bill to Customer",    "field": "billToCustomerName"  },  {    "headerText": "Created by",    "field": "createdByInvoice"  },  {    "headerText": "Id",    "field": "id"  },  {    "headerText": "Entered amount",    "field": "enteredAmount"  }]'
          selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected2]]" id="oj-table-202941639-2"
          on-first-selected-row-changed="[[ $listeners.ojTable2029416392Selection ]]">
          <oj-paging-control data="[[ $variables.myPDPBillingsLotes ]]" page-size="2" slot="bottom"></oj-paging-control>
          <template slot="Estatus">
            <span class="oj-badge"
              :style='[[ $current.row.timbradoInterfaceEstatus == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $current.row.timbradoInterfaceEstatus == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
             
                <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus!='200 - TIMBRADO EXITOSO' &&  $current.row.timbradoInterfaceEstatus!='500 - ERROR DE TIMBRADO']]">
                  <oj-bind-text value="PENDIENTE"></oj-bind-text>
                </oj-bind-if>

                <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus=='500 - ERROR DE TIMBRADO']]">
                  <oj-bind-text value="500 ERROR"></oj-bind-text>
                </oj-bind-if>

                <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus=='200 - TIMBRADO EXITOSO']]">
                  <oj-bind-text value="200 EXITOSO"></oj-bind-text>
                </oj-bind-if>

            </span>
          </template>  
        </oj-table> -->
    
      <div class="oj-flex">
           <oj-label class="oj-flex-item oj-sm-12 oj-md-3" style="margin:25px;">
             *Refrescar la página para visualizar los cambios
            </oj-label>
       
      </div>
      <div class="oj-flex">
           <oj-combobox-one style="margin-right: 10px;" label-hint="Estatus" on-value-changed="[[$listeners.comboValue]]"
             class="oj-flex-item oj-sm-12 oj-md-2">
                <oj-option value="200">200 - EXITOSO</oj-option>
                <oj-option value="500">500 - ERROR</oj-option>
                <oj-option value=" ">PENDIENTE</oj-option>
                <oj-option value="todos">TODOS</oj-option>
           </oj-combobox-one>
           <!-- <oj-input-search aria-label="My search field" value="{{ $variables.SearchCustomerQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-search> -->
           <oj-input-text style="margin-right: 10px;" label-hint="Razón social"class="oj-flex-item oj-sm-12 oj-md-2" value="{{ $variables.SearchCustomerQ }}">
           </oj-input-text>

            
           <oj-input-date style="margin-right: 10px;" label-hint="De" value="{{ $variables.SearchDateInfQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2">
            </oj-input-date>
           <oj-input-date style="margin-right: 10px;" label-hint="Hasta" value="{{ $variables.SearchDateSupQ}}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-date>
          <oj-input-text label-hint="Número de transacción" class="oj-flex-item oj-sm-12 oj-md-2"
            value="{{ $variables.SearchTranscationQ }}"></oj-input-text>

          
           <div class="oj-flex-item oj-sm-12 oj-md-1">
                <oj-button style="margin-left: 10px;width:100%" label="Buscar"
                  on-oj-action="[[$listeners.buttonAction5]]" class="oj-button-lg" chroming="outlined" dir="auto" ></oj-button>
           </div>
           <div class="oj-flex-item oj-sm-12 oj-md-8"></div>
   
      </div>

      <oj-bind-if test="[[ $variables.SelectButtonInv != true ]]">
        <div class="oj-flex">
          <div class="oj-flex-item oj-sm-12 oj-md-2">
            <oj-button style="margin-bottom: 10px;" class="buttom_action" on-oj-action="[[$listeners.buttonAction2]]">
              <p class="buttom_label">Timbrar facturas</p>
            </oj-button>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-5"></div>
          <oj-label class="oj-flex-item oj-sm-12 oj-md-3"></oj-label>
        </div>
      </oj-bind-if>

      
      <div class="oj-flex">
           <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
             data="[[$variables.billingsFacturarListSDP2]]"
             columns='[{"headerText":"Estatus","field":"timbradoInterfaceEstatus","template":"timbradoInterfaceEstatus"},{"headerText":"Número de transacción","field":"customerTransactionId"},{"headerText":"Razón social","field":"billToCustomerName"},{"headerText":"Fecha de transacción","field":"transactionDate"},{"headerText":"Creado por","field":"createdByInvoice"},{"headerText":"Cantidad ingresada","field":"enteredAmount","template":"enteredAmount"},{"headerText":"Fecha de creación","field":"creationDateInvoice"},{"headerText":"Id","field":"id"}]'
             selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected5]]">
                <template slot="timbradoInterfaceEstatus">

                  <span class="oj-badge"
                    :style='[[  $functions.statusTimbr($current.row.timbradoInterfaceEstatus) == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} :  $functions.statusTimbr($current.row.timbradoInterfaceEstatus) == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
            

                    <oj-bind-if test="[[ $functions.statusTimbr( $current.row.timbradoInterfaceEstatus)!='200 - TIMBRADO EXITOSO' &&  $functions.statusTimbr( $current.row.timbradoInterfaceEstatus)!='500 - ERROR DE TIMBRADO']]">
                      <oj-bind-text value="PENDIENTE"></oj-bind-text>
                    </oj-bind-if>

                      <oj-bind-if
                        test="[[ $functions.statusTimbr($current.row.timbradoInterfaceEstatus)=='500 - ERROR DE TIMBRADO' ]]">
                        <oj-bind-text value="500 ERROR"></oj-bind-text>
              
                      </oj-bind-if>
                      <oj-bind-if test="[[  $functions.statusTimbr($current.row.timbradoInterfaceEstatus)=='200 - TIMBRADO EXITOSO']]">
                        <oj-bind-text value="200 EXITOSO"></oj-bind-text>
              
                      </oj-bind-if>
                  </span>
                </template>
                <template slot="enteredAmount">
                  <oj-label style="font-family: system-ui;font-weight: 400;font-size: 16px; padding-left: 18px;">
                    <oj-bind-text  value="[[ '$'+$current.data ]]"></oj-bind-text>
                  </oj-label>
                </template>
           </oj-table>
      </div>
      <!-- <div class="oj-flex">
           
        
           <div class="oj-flex-item oj-sm-12 oj-md-4"></div>
           <oj-input-date label-hint="Date" class="oj-flex-item oj-sm-12 oj-md-6" value="{{ $variables.SearchDate }}"></oj-input-date>
           <div class="oj-flex-item oj-sm-12 oj-md-2">
                <oj-button label="Button"></oj-button>
           </div>
      </div>
      <div class="oj-flex">
           <div class="oj-flex-item oj-sm-12 oj-md-4"></div>
           <oj-input-date label-hint="Date" class="oj-flex-item oj-sm-12 oj-md-6"
             value="{{ $variables.SearchDateSup }}"></oj-input-date>
      </div> -->
    </div>
    <div id="oj-tab-bar-202941639-1-tab-3-panel" slot="oj-tab-bar-202941639-1-tab-3"
      aria-labelledby="oj-tab-bar-202941639-1-tab-3-tab" role="tabpanel">
      <div class="oj-flex">
           <oj-label class="oj-flex-item oj-sm-12 oj-md-3" style="margin:25px;">
             *Refrescar la página para visualizar los cambios
            </oj-label>
       
      </div>



<div class="oj-flex">
           <oj-combobox-one style="margin-right: 10px;" label-hint="Estatus" 
             class="oj-flex-item oj-sm-12 oj-md-2" on-value-changed="[[$listeners.comboValue3]]" >
                <oj-option value="200">200 - EXITOSO</oj-option>
                <oj-option value="500">500 - ERROR</oj-option>
                <oj-option value=" ">PENDIENTE</oj-option>
                <oj-option value="todos">TODOS</oj-option>
                
           </oj-combobox-one>
           <!-- <oj-input-search aria-label="My search field" value="{{ $variables.SearchCustomerQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-search> -->
           <oj-input-text style="margin-right: 10px;" label-hint="Cliente" class="oj-flex-item oj-sm-12 oj-md-2"
             value="{{ $variables.SearchCustomerStandQ }}">
           </oj-input-text>

            
           <oj-input-date style="margin-right: 10px;" label-hint="De" value="{{ $variables.SearchDateInfStandQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2">
            </oj-input-date>
           <oj-input-date style="margin-right: 10px;" label-hint="Hasta" value="{{ $variables.SearchDateSupStandQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-date>
          <oj-input-text label-hint="Número de transacción" class="oj-flex-item oj-sm-12 oj-md-2"
            value="{{ $variables.SearchNumberStandQ }}"></oj-input-text>

          
           <div class="oj-flex-item oj-sm-12 oj-md-1">
                <oj-button style="margin-left: 10px;width:100%" label="Buscar"
                  class="oj-button-lg" chroming="outlined" dir="auto" on-oj-action="[[$listeners.buttonAction7]]" ></oj-button>
           </div>
           <div class="oj-flex-item oj-sm-12 oj-md-8"></div>
   
      </div>


        <div class="oj-flex">

            <oj-bind-if test="[[ $variables.SelectButtonStan!= true]]">
              <div class="oj-flex-item oj-sm-12 oj-md-2">
                
                  <oj-button class="buttom_action" on-oj-action="[[$listeners.buttonAction3]]" >
                    <p class="buttom_label">Timbrar Complemento
                    </p>
                  </oj-button>
              </div>
            </oj-bind-if>
          </div>
      <div class="oj-flex">
           <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
             data="[[ $variables.standardFacturarSPD ]]"
             columns='[  {    "headerText": "Estatus",    "field": "creationDateReceiptId",    "template": "Estatus"  },  {    "headerText": "Número de recibo",    "field": "createdByReceiptId"  },  {    "headerText": "Id Recibo",    "field": "standardReceiptId"  },  {    "headerText": "Razón social",    "field": "customerName"  },  {    "headerText": "Importe contabilizado",    "field": "accountedAmount",    "template": "accountedAmount"  },  {    "headerText": "Fecha",    "field": "accountingDate"  },  {    "headerText": "id",    "field": "id"  }]'
             selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected7]]">
                <template slot="Estatus">
                   <span class="oj-badge"
                    :style='[[ $functions.statusTimbr($current.row.creationDateReceiptId) == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $functions.statusTimbr($current.row.creationDateReceiptId) == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
            

                    <oj-bind-if test="[[ $functions.statusTimbr($current.row.creationDateReceiptId)!='200 - TIMBRADO EXITOSO' &&  $functions.statusTimbr($current.row.creationDateReceiptId)!='500 - ERROR DE TIMBRADO']]">
                      <oj-bind-text value="PENDIENTE"></oj-bind-text>
                    </oj-bind-if>

                      <oj-bind-if test="[[ $functions.statusTimbr($current.row.creationDateReceiptId)=='500 - ERROR DE TIMBRADO']]">
                        <oj-bind-text value="500 ERROR"></oj-bind-text>
              
                      </oj-bind-if>
                      <oj-bind-if test="[[ $functions.statusTimbr($current.row.creationDateReceiptId)=='200 - TIMBRADO EXITOSO']]">
                        <oj-bind-text value="200 EXITOSO"></oj-bind-text>
              
                      </oj-bind-if>


                  </span>
                </template>
          
                <template slot="accountedAmount">
                   <oj-label style="font-family: system-ui;font-weight: 400;font-size: 16px; padding-left: 18px;">
                    <oj-bind-text  value="[[ '$'+$current.data+'.00' ]]"></oj-bind-text>
                  </oj-label>
                </template>
           </oj-table>
      </div>
        <div class="oj-flex">
          <!-- <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
            selection-mode.row="multiple" data="[[ $variables.myPDPReceipts ]]"
            columns='[{"headerText":"Estatus","field":"timbradoInterfaceEstatus","template":"Estatus"},{"headerText":"Receipt Id","field":"standardReceiptId"},{"headerText":"Customer Name","field":"customerName"},{"headerText":"Accounted Amount","field":"accountedAmount"},{"headerText":"id","field":"id"},{"headerText":"Accounting Date","field":"accountingDate"},{"headerText":"Date Receipt","field":"creationDateReceiptId"},{"headerText":"Created By","field":"createdByReceiptId"}]'
            on-selected-changed="[[$listeners.tableSelected3]]">
             <oj-paging-control data="[[ $variables.myPDPReceipts ]]" page-size="10" slot="bottom"></oj-paging-control>
             <template slot="Estatus">
                  <span class="oj-badge"
                    :style='[[ $current.row.timbradoInterfaceEstatus == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $current.row.timbradoInterfaceEstatus == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
            

              <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus!='200 - TIMBRADO EXITOSO' &&  $current.row.timbradoInterfaceEstatus!='500 - ERROR DE TIMBRADO']]">
                <oj-bind-text value="PENDIENTE"></oj-bind-text>
              </oj-bind-if>

                <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus=='500 - ERROR DE TIMBRADO']]">
                  <oj-bind-text value="500 ERROR"></oj-bind-text>
        
                </oj-bind-if>
                <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus=='200 - TIMBRADO EXITOSO']]">
                  <oj-bind-text value="200 EXITOSO"></oj-bind-text>
        
                </oj-bind-if>


                  </span>
             </template>
          </oj-table> -->
        </div>
    </div>
    <div id="oj-tab-bar-202941639-1-tab-4-panel" slot="oj-tab-bar-202941639-1-tab-4"
      aria-labelledby="oj-tab-bar-202941639-1-tab-4-tab" role="tabpanel">
      
      <div class="oj-flex">
           <oj-label class="oj-flex-item oj-sm-12 oj-md-3" style="margin:25px;">
             *Refrescar la página para visualizar los cambios
            </oj-label>
       
      </div>
      
      <div class="oj-flex">
           <oj-combobox-one style="margin-right: 10px;" label-hint="Estatus" 
             class="oj-flex-item oj-sm-12 oj-md-2" on-value-changed="[[$listeners.comboValue2]]">
                <oj-option value="200">200 - EXITOSO</oj-option>
                <oj-option value="500">500 - ERROR</oj-option>
                <oj-option value=" ">PENDIENTE</oj-option>
                <oj-option value="todos">TODOS</oj-option>
           </oj-combobox-one>
           <!-- <oj-input-search aria-label="My search field" value="{{ $variables.SearchCustomerQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-search> -->
           <oj-input-text style="margin-right: 10px;" label-hint="Cliente" class="oj-flex-item oj-sm-12 oj-md-2"
             value="{{ $variables.SearchCustomerMemosQ }}">
           </oj-input-text>

            
           <oj-input-date style="margin-right: 10px;" label-hint="De" value="{{ $variables.SearchDateInfMemosQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2">
            </oj-input-date>
           <oj-input-date style="margin-right: 10px;" label-hint="Hasta" value="{{ $variables.SearchDateSupMemosQ }}"
             class="oj-flex-item oj-sm-12 oj-md-2"></oj-input-date>
          <oj-input-text label-hint="Número de transacción" class="oj-flex-item oj-sm-12 oj-md-2"
            value="{{ $variables.SearchNumberMemosQ }}"></oj-input-text>

          
           <div class="oj-flex-item oj-sm-12 oj-md-1">
                <oj-button style="margin-left: 10px;width:100%" label="Buscar"
                  class="oj-button-lg" chroming="outlined" dir="auto" on-oj-action="[[$listeners.buttonAction6]]" ></oj-button>
           </div>
           <div class="oj-flex-item oj-sm-12 oj-md-8"></div>
   
      </div>


      <div class="oj-flex"
        style='$current.row.timbradoInterfaceEstatus == "200 - TIMBRADO EXITOSO" ? {"background-color":"green"} : $current.row.status == "ERROR" ? {"background-color":"red"} : {"background-color":"blue"}'>
        <div class="oj-flex-item oj-sm-12 oj-md-4">

        <oj-bind-if test="[[ $variables.SelectButtonMem != true ]]">
          <oj-button class="buttom_action oj-button-full-width" on-oj-action="[[$listeners.buttonAction4]]">
            <p class="buttom_label">Timbrar Nota de Crédito</p>
          </oj-button>

        </oj-bind-if>

  

        
        </div>
      </div>
      <div class="oj-flex">
           <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
             data="[[ $variables.memosFacturarSPD ]]"
             columns='[{"headerText":"Estatus","field":"timbradoInterfaceEstatus","template":"timbradoInterfaceEstatus"},{"headerText":"Número de transacción","field":"customerTransactionId"},{"headerText":" Razón social","field":"billToCustomerName"},{"headerText":"Fecha de transacción","field":"transactionDate"},{"headerText":"Creada por","field":"createdByCredit"},{"headerText":"Cantidad ingresada","field":"enteredAmount","template":"Entered amount"},{"headerText":"Fecha de creación","field":"creationDateCredit"},{"headerText":"id","field":"id"}]'
             selection-mode.row="multiple" " on-selected-changed="[[$listeners.tableSelected6]]">
                <template slot="timbradoInterfaceEstatus">

                  <span class="oj-badge"
                    :style='[[ $functions.statusTimbr($current.row.timbradoInterfaceEstatus) == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $functions.statusTimbr($current.row.timbradoInterfaceEstatus) == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'>
            

                    <oj-bind-if test="[[ $functions.statusTimbr($current.row.timbradoInterfaceEstatus)!='200 - TIMBRADO EXITOSO' &&  $functions.statusTimbr($current.row.timbradoInterfaceEstatus)!='500 - ERROR DE TIMBRADO']]">
                      <oj-bind-text value="PENDIENTE"></oj-bind-text>
                    </oj-bind-if>

                      <oj-bind-if test="[[ $functions.statusTimbr($current.row.timbradoInterfaceEstatus)=='500 - ERROR DE TIMBRADO']]">
                        <oj-bind-text value="500 ERROR"></oj-bind-text>
              
                      </oj-bind-if>
                      <oj-bind-if test="[[ $functions.statusTimbr($current.row.timbradoInterfaceEstatus)=='200 - TIMBRADO EXITOSO']]">
                        <oj-bind-text value="200 EXITOSO"></oj-bind-text>
              
                      </oj-bind-if>


                        </span>
                </template>

                <template slot="Entered amount">
                  <oj-label style="font-family: system-ui;font-weight: 400;font-size: 16px; padding-left: 18px;"><oj-highlight-text
                                                                                                                     text="[['$'+$current.data]]"></oj-highlight-text>
                  </oj-label>
                </template>
 
           </oj-table>
      </div>
      <!-- <div class="oj-flex">
        <oj-table scroll-policy="loadMoreOnScroll" class="oj-flex-item oj-sm-12 oj-md-12"
          data="[[ $variables.myPDPMemos ]]"
          columns='[{"headerText":"Estado","field":"timbradoInterfaceEstatus","template":"Estado"},{"headerText":"Transaction Id","field":"customerTransactionId"},{"headerText":"Bill to Customer","field":"billToCustomerName"},{"headerText":"Created by","field":"createdByCredit"},{"headerText":"Creation date","field":"creationDateCredit"},{"headerText":"Entered amount","field":"enteredAmount"},{"headerText":"id","field":"id"},{"headerText":"Transaction date","field":"transactionDate"}]'
          selection-mode.row="multiple" on-selected-changed="[[$listeners.tableSelected4]]">
        <oj-paging-control data="[[ $variables.myPDPMemos]]" page-size="10" slot="bottom"></oj-paging-control>
        <template slot="Estado">
          
          <span class="oj-badge"
            :style='[[ $current.row.timbradoInterfaceEstatus == "200 - TIMBRADO EXITOSO" ? {"background-color":"#3EA82F"} : $current.row.timbradoInterfaceEstatus == "500 - ERROR DE TIMBRADO" ? {"background-color":"#FF3B3B"} : {"background-color":"#E37244"} ]]'
            translate="no">

              <oj-bind-if
                test="[[ $current.row.timbradoInterfaceEstatus!='200 - TIMBRADO EXITOSO' &&  $current.row.timbradoInterfaceEstatus!='500 - ERROR DE TIMBRADO']]">
                <oj-bind-text value="PENDIENTE"></oj-bind-text>
              </oj-bind-if>

              
                <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus=='500 - ERROR DE TIMBRADO']]">
                  <oj-bind-text value="500 ERROR"></oj-bind-text>
                </oj-bind-if>
                <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus=='200 - TIMBRADO EXITOSO']]">
                  <oj-bind-text value="200 EXITOSO"></oj-bind-text>
        
                </oj-bind-if>
          </span>
        </template>
        </oj-table>
      </div> -->
    </div>
  </oj-switcher>
</div>
<!-- <div class="oj-flex">
  <oj-table class="oj-flex-item oj-sm-12 oj-md-12" data="[[$variables.billingsFacturarListSDP]]"
    columns='[{"headerText":"Transaction Number","field":"customerTransactionId"},{"headerText":"timbradoInterfaceEstatus","field":"timbradoInterfaceEstatus","template":"timbradoInterfaceEstatus"},{"headerText":"createdByInvoice","field":"createdByInvoice"},{"headerText":"creationDateInvoice","field":"creationDateInvoice"},{"headerText":"enteredAmount","field":"enteredAmount"},{"headerText":"billToCustomerName","field":"billToCustomerName"},{"headerText":"Id","field":"id"},{"headerText":"transactionDate","field":"transactionDate"}]'
    scroll-policy="loadMoreOnScroll">
    <template slot="timbradoInterfaceEstatus">
      <span class="oj-badge"
        :style='[[ $current.row.timbradoInterfaceEstatus =="200 - TIMBRADO EXITOSO"? {"background-color":"#3EA82F"} : $current.row.timbradoInterfaceEstatus == null ? {"background-color":"#E37244"} : {"background-color":"#FF3B31"} ]]'>
        
          <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus!='200 - TIMBRADO EXITOSO' &&  $current.row.timbradoInterfaceEstatus!=null]]">
            <oj-bind-text value="500 ERROR"></oj-bind-text>
          </oj-bind-if>

          <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus=='200 - TIMBRADO EXITOSO']]">
            <oj-bind-text value="200 EXITOSO"></oj-bind-text>
          </oj-bind-if>

          <oj-bind-if test="[[ $current.row.timbradoInterfaceEstatus==null]]">
            <oj-bind-text value="PENDIENTE"></oj-bind-text>
          </oj-bind-if>




      </span>
    </template>
  </oj-table>
</div> -->











