<footer class="vb-web-applayout-footer oj-flex oj-sm-flex-direction-column" role="contentinfo">
  <div role="img"></div>
  <div class="vb-web-applayout-footer-content oj-contrast-marker">
    <div class="oj-flex oj-sm-margin-2x-top oj-text-color-secondary oj-typography-body-sm oj-sm-margin-2x-start"><oj-bind-text
                                                                                                                     value="ESGARI, Copyright © 2023"></oj-bind-text></div>
    <oj-dialog id="aboutDialog" dialog-title="My Application"
      cancel-behavior="icon">
      <div class="oj-flex oj-text-color-secondary oj-typography-body-sm">
        <oj-bind-text value="ESGARI, Copyright © 2023"></oj-bind-text>
      </div>
    </oj-dialog>
  </div>
</footer>