.prueba{
  font-size: 1000px;
}

  .loader {
    width: 30px;
    height: 30px;
    border: 10px solid rgb(153, 152, 152);
    border-top: 10px solid rgb(56, 55, 55);
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loader_init {
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid #2e2e72;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite; 
      animation: spin 2s linear infinite;
    }
    
   
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }



.title_c{
    font-size: 30px;
    font-weight: 500;
    margin: 18px 0px 18px 0px;
}

.button_cancel{
    display: grid;
    width: 135px;
    margin-top: 19px;
    margin-left: auto;
    background-color: #2a2a73;
    color: #fff;
    border-radius: 6px;
}

.p_button{
  margin: 0px 0px 2px 0px;
  color:#fff;
}

.search{
      margin-left: -8px;
    z-index: 1;
    background-color: white;
}
.buton-search{
      width: 35px;
    height: 44px;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid #8a8a89;
    background-color: #fff;
    cursor: pointer;
}

table{
  background-color: #fff;
}


.p_sm{
  font-size: 24px;
  margin-bottom: 0px;
}

.img_sm{
  margin-left: auto;
  width: 34px;
  object-fit: contain;
}

.inline{
  display: flex;
}

.complete{
  width: 100%;
}

.subtitle_bill{
  font-size: 20px;
  font-weight: 500;
  color: #302C75;
}

.subtitle{
  font-weight: 500;
  font-size: 17px;
  padding-left: 10px;
}

.sub_container{
  width:50%;
  padding-left: 10px;
  font-size: 13px;
  /* font-weight: 500; */
}

.card{
  padding: 23px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.detalles{
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
}

.otm_title{
    
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
}

.img_otm{
  padding: 50px;
}

.card_otm{
    display: grid;
}

.buttom_otm{
    margin-left: auto;
    margin-right: auto;
}

.buttom_label{
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}

.buttom_action{
    background-color: #2E2E72;
    border-radius: 5px;
}

.img_timbrado{
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: 36px;
    margin-top: 6px;
}

.card_info{
    display: flex;
  }

.option_button_l{
  
  margin-left: auto;
  cursor: pointer;
  margin-right: 10vw;
      width: 137px;
}

.div_menu{
    margin-left: auto;
    margin-right: 10vw;
    width: 137px;
    width: 100%;
    background: white;
    border-radius: 10px;
    border: 3px solid #2e2e72;
}

.div_shadow{
  margin-left: auto;
    margin-right: 10vw;

    background: white;
    border-radius: 10px;
  
    box-shadow: 3px 4px 11px -1px #123;
}

.button_img{
    
    height: 99px;
    width: 75px;
    border: 2px solid #2e2e72;
    border-radius: 5px;
    background: #3c3d7a;
    margin: 19px 0px 35px 0px;
    cursor: pointer;
}

.img_b{
  width: 77px;
  margin-left: -17px;
}

.option_button_r{
  
    margin-right: auto;
    cursor: pointer;
    margin-left: 10vw;
    width: 137px;
}

.title_att{
  font-size: 19px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.label_att{
  margin-bottom: 0px;
  font-size: 17px;
 
  text-align: center;
  color: #fff;
  padding: 8px 0px 25px 0px;
}

.div_att{
    background: #2e2e72;
    border-radius: 10px 10px 0px 0px;
    height: auto;
}

.div_att_bottom{
    background: white;
    border: 2px solid #123;
    margin-top: -16px;
    border-radius: 0px 0px 10px 10px;
    display: grid;
}

.att_img {
    margin: 6px;
    height: 99px;
    width: 75px;
    border: 2px solid #2e2e72;
    border-radius: 5px;
    background: #3c3d7a;
    margin: 19px auto 35px auto;
}

.att_img_ {
    height: 99px;
    width: 75px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    margin: 19px auto 26px auto;
}




.timbrado_button{
    background: #40b33e;
    border: solid 2px #199b1c;
    border-radius: 11px;
}

.card_menu{
    font-weight: 600;
    height: 13px;
    margin-top: 15px;
    margin-bottom: 39px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.aux{
    display:flex;
}

.button_return{
  background: #fff; 
  border: none;
  cursor: pointer;
}


.oj-selected>a.oj-tabbar-item-content>.oj-tabbar-item-label {
    color: rgb(46 46 114);
    font-weight: var(--oj-tab-bar-item-font-weight-selected);
}

a.oj-tabbar-item-content .oj-tabbar-item-label {
    color: rgb(46 46 114 / 64%);
    font-weight: var(--oj-tab-bar-item-font-weight);
}

@media (max-width: 384px) {
  .card-att-sm{
    width: 111px;
    margin-left: 108%;
  }
}

@media (max-width: 450px) {

  .card_info{
    display: grid;
  }

  .option_button_l{
  margin-right: auto;
}

  .option_button_r{
  margin-left: auto;
}

.card_otm{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.aux{
    display: grid;
}


}